<div class="bg-[#F2F4F5] pt-[7rem] lg:pt-[13rem] pb-[5rem] lg:pb-[10.5rem] px-4 flex flex-col">
    <h5
        class="lexendzettaextrali text-[28px] lg:text-[80px] 2xl:text-[86px] leading-[45px] lg:leading-[107.5px] pb-[3.5rem] lg:pb-[15rem]">
        Programe una sesión gratuita con un asesor</h5>

    <button
        class="lexendli bg-white text-[21px] flex items-center justify-start lg:justify-center footer-shadow w-full lg:w-[235px] h-[65px] ml:ml-4 px-5 lg:p-4 rounded-[20px]">
        <svg class="transition duration-700 ease-in-out mr-12 lg:mr-4 w-[24px] lg:w-auto" width="33" height="31" viewBox="0 0 33 31"
            fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
                <line x1="5.7105e-09" y1="14.7539" x2="30.6479" y2="14.7539" stroke="black" stroke-width="2" />
                <path d="M16.2585 1.00146L30.5917 15.2188L16.2585 29.436" stroke="black" stroke-width="2" />
            </g>
        </svg>
        Conversemos
    </button>
</div>
