<section class="py-10 flex flex-wrap content-around">

  <div class="px-32 grid grid-cols-2 gap-20 content-start mt-16 text-[14px]  tracking-wider lexendb">
    <div>
      <h4>CLIENTE</h4>
    </div>
    <div>
      <h4>FECHA</h4>
      <span>2021</span>
    </div>
  </div>
  <br>
  <div class="mt-28 ml-[-420px] w-[-420px] ">
    <span class="lg:text-[88px] 2xl:leading-[7.25rem] 2xl:text-[50px] w-[20px] lexendzetta ">Redeban</span>
  </div>
  <div class="px-32 mt-20">
    <div class="grid grid-cols-2 gap-4 content-start w-[30%] text-[14px] tracking-wider lexend">
      <div>
        <h3 class="lexendb">ENTREGABLES</h3>
        <ul>INTEGRATED CAMPAIGN</ul>
        <ul>HYPE FILM</ul>
        <ul>TECH FILM</ul>
        <ul>KEY VISUAL</ul>
        <ul>SOCIAL TEASERS</ul>
      </div>
      <div>
        <h3 class="lexendb">ROLE</h3>
        <ul>STRATEGY</ul>
        <ul>CONCEPT</ul>
        <ul>ART DIRECTION</ul>
        <ul>DESIGN</ul>
        <ul>PRODUCTION</ul>
      </div>
    </div>

    <img class="absolute w-[65%] h-[75%] right-[1rem] 2xl:right-[20rem] top-[3rem] 2xl:top-[0rem] "
      src="/assets/img/laptop-estadisticas.png">

    <div class="grid grid-cols-2 gap-20 content-start lexendb text-[16px] 2xl:text-[25px] mt-[12rem] 2xl:mt-[18rem]">
      <div>
        <h4 class="text-[12px] 2xl:text-[21px]">Primax y el reto</h4>
        <p class="mt-4">

          During these uncertain times, many of us find ourselves in introspection mode
          , with new ideas and resolving to do better. We wish we could help everyone and
          fix everything.
        </p>
      </div>
      <div>


        <h4 class="text-[12px] 2xl:text-[21px]">El trabajo de Esedor</h4>
        <p class="mt-4">

          During these uncertain times,
          many of us find ourselves in introspection mode,
          with new ideas and resolving to
          do better.
        </p>
      </div>
    </div>
  </div>



  <div class="relative left-[53%] lexendb mt-20 lg:text-[50px] 2xl:leading-[40px] 2xl:text-[50px] w-[350px] ">
    <h2>
      Data Driven y producto digital
    </h2>
  </div>

  <div class=" w-[20%] mt-20 ml-[-15%]  ">
    <img src="/assets/img/Redeban-logo.png" alt="">
  </div>

</section>

<section id="parallax" class="h-[80%]">

</section>



<section style="background: black;"
  class="grid grid-cols-2 bg-[#000000] gap-20 content-start lexendb text-[16px] 2xl:text-[25px]  2xl:mt-[18rem] ">
  <div class=" pl-20 lexendzetta mt-[150px] lg:text-[40px] 2xl:leading-[40px] 2xl:text-[50px] w-[1150px] mt-[5rem]">
    <p style="color: white;">Visualizacion</p>
    <span style="color: white;"> de datos P2P y</span>
    <p style="color: white;"> P2M</p>
  </div>
  <div>
    <div style="color: white;">

      <h3 class="lexendzetta mt-4 lg:text-[22px] 2xl:leading-[15px] 2xl:text-[30px] w-[500px] mt-40 mb-40">
        During these uncertain times, many of us find ourselves in introspection mode, with new ideas and
        resolving to do better. We wish we could help everyone and fix everything.</h3>
    </div>
  </div>
</section>


<section>
  <p>video</p>
</section>

<section>

  <div class="w-[70%] ml-40 mt-60">
    <img src="/assets/img/laptop-sucursal.png" alt="">
  </div>

  <div class="w-[70%] ml-60 mt-80">
    <img src="/assets/img/sucursal.png" alt="">
  </div>

  <div class="mt-80">
    <div class="absolute left-[65%] mb-8 w-[30%] text-[22px]">
      <h3>Este sistema nace con el proposito de crear valor
        a todos los stakeholder b2b de la empresa, administrando
        diferentes entornos dentro de la organización</h3>
    </div>

    <div class=" ml-40 mt-20 lexendb lg:text-[50px] 2xl:leading-[40px] 2xl:text-[50px] w-[350px] ">
      <h2>Desarrollo front-end</h2>
    </div>
  </div>

  <div class="w-[80px] absolute left-[65%] mt-20 text-[10px]">
    <p class="mb-8">Tecnologías</p>
    <span>Angular
      Tailwind CSS
      Material</span>
  </div>
</section>

<section id="parallax2" class="h-[80%] mt-80">

</section>

<section>
  <div class="w-[70%] ml-40">
    <img src="/assets/img/informacion.png" alt="">
  </div>

  <div class="w-[70%] ml-80 mt-80 mb-20">
    <img src="/assets/img/informacion2.png" alt="">
  </div>
</section>





<section  style="background: #E8E8E8;"
  class="grid grid-cols-2 gap-20 content-start lexendb 2xl:text-[25px]  2xl:mt-[18rem] ">

  <div class="lexendzetta text-[10px] 2xl:text-[25px] mt-[5rem] 2xl:mt-[18rem] ml-[30%]">
    <p class="lexendzetta ml-[70%] lg:text-[8px]">win to win</p>

    <div class="mt-10 ml-[20%]">
      <p class=" lexendzetta ml-[60%] lg:text-[25px] w-[750px]">Entender los problemas de los</p>
      <p class=" lexendzetta lg:text-[25px] w-[825px]"> usuarios para crear un productos que realmente les
        genere
        valor al usarlo para realizar tareas operacionales automatizadas.</p>
    </div>


  </div>



  <div class="grid grid-cols-2 gap-20 content-start lexendb text-[16px] 2xl:text-[25px] 2xl:mt-[18rem] mt-[600px] ">
    <div class="mt-[20%] ml-[-155%]">
      <p class="text-[12px] 2xl:text-[21px] "> TEAM</p>

      <div class="mt-4 text-[8px] w-[160px]">

        <p>LUIS WATANABE Delivery Manager</p>
        <span>LIZ VEGA Product Owner</span>
        <p> CARLOS HIDALGO Head of Agile</p>
        <span> ROLANDO SACHÚN Scrum Master</span>
        <p> MIJALYS SILVA Head of UX</p>
        <span> ANDRES AMPUERO Product Designer</span>
        <p> MELANY MERCADO Ux Designer </p>
        <span> KEN RAMIREZ Lead front-end </span>
        <p> HELEN VÁSQUEZ Front-end </p>
        <span> DANIELA GUTIERREZ Front-end </span>

      </div>


    </div>


    <div class="w-[500px] ml-[-140%] mb-40">
      <img src="/assets/img/mano-like.png" alt="">
    </div>

  </div>
</section>

<section class="h-full px-40 bg-[#141C26] lexendzetta text-[#D8D8D8] flex justify-between flex-wrap content-center">
  <div>
    <div class="px-4">
      <a class="text-[16px] 2xl:text-[36px] ">Ir a proyecto</a>
    </div>
    <div class="-mt-10">
      <a class="text-[100px] 2xl:text-[144px]">Redeban</a>
    </div>
  </div>
  <div class="flex flex-wrap content-center">
    <img alt="Arrow" class="w-[60%] 2xl:w-[100%]" src="assets/img/icon/Arrow.svg">
  </div>
</section>
