<app-toolbar [colorWhite]="colorWhite"></app-toolbar>
<section class="py-10 flex flex-wrap content-around px-4 lg:px-[5rem] xl:px-[6rem]">
  <div class="flex justify-center w-full lg:hidden">
    <img src="assets/img/iphoneinit.png">
  </div>
  <div data-aos="fade-up" data-aos-duration="1000"
    class="px-4 lg:px-32 grid grid-cols-1 lg:grid-cols-2 gap-2 lg:gap-20 content-start mt-5 lg:mt-16 text-[14px] tracking-wider lexendb">
    <div>
      <h4>CLIENTE</h4>
      <span class="lg:hidden lexendzetta text-[36px]">Redeban </span>
    </div>
    <div class="flex justify-between text-[14px]">
      <div>
        <h4>FECHA</h4>
        <span class="lexend">2021</span>
      </div>

      <div class="lg:hidden">
        <h4>PAÍS</h4>
        <span class="lexend">COLOMBIA</span>
      </div>
    </div>
  </div>
  <br>
  <div data-aos="fade-up" data-aos-duration="1000" class="mt-40 lg:ml-[-365px] w-[-420px] lg:block hidden">
    <span class="lg:text-[88px] 2xl:leading-[7.25rem] 2xl:text-[50px] w-[20px] lexendzetta ">Redeban</span>
  </div>
  <div class=" mt-[1%]">
    <!-- lg:px-32 px-4 -->
    <div data-aos="fade-up" data-aos-duration="2000"
      class="flex mt-[4.5rem] lg:pt-[6.5rem] space-x-4 lg:space-x-[8rem]">
      <div>
        <h4 class="text-sm lexendb">ENTREGABLES</h4>
        <p class="text-base lexend">
          INTEGRATED </p>
        <p>CAMPAIGN</p>
        <p>HYPE FILM</p>
        <p>TECH FILM</p>
        <p> KEY VISUAL</p>
        <p>SOCIAL TEASERS</p>
      </div>
      <div>
        <h4 class="text-sm lexendb">ROLE</h4>
        <p class="text-base lexend">
          STRATEGY</p>
        <p>CONCEPT</p>
        <p>ART DIRECTION</p>
        <p>DESIGN</p>
        <p> PRODUCTION
        </p>
      </div>
    </div>

    <img data-aos="fade-left" data-aos-duration="1500"
      class="absolute lg:block hidden w-[45%] h-[55%] right-[4rem] 2xl:right-[20rem] top-[12rem] 2xl:top-[0rem] "
      src="assets/img/laptop-estadisticas.png">

    <div class="grid lg:grid-cols-2 gap-[5.5rem] lg:gap-[8rem] mt-[5rem]">
      <div data-aos="fade-up" data-aos-duration="2000" class="lexend">
        <p class="text-sm lg:text-[16px] pb-8 font-bold lg:font-normal">Redeban y el reto</p>
        <h3 class="text-[21px] lg:text-[36px]">
          During these uncertain times, many of us find ourselves in introspection mode,
          with new ideas and resolving to do better. We wish we could help everyone and fix everything. </h3>
      </div>
      <div data-aos="fade-up" data-aos-duration="2000" class="lexend">
        <p class="text-sm lg:text-[16px] pb-8 font-bold lg:font-normal">El trabajo de Esedor</p>
        <h3 class="text-[21px] lg:text-[36px]">
          During these uncertain times, many of us find ourselves in introspection mode,
          with new ideas and resolving to do better. </h3>
      </div>
    </div>
  </div>

  <div class="flex flex-wrap justify-between w-full pt-[4rem] lg:pt-[8rem] space-y-[2rem] lg:space-y-0">
    <div class="w-[175px] lg:w-[400px] xl:w-[440px] 2xl:w-[470px]" data-aos="zoom-in-up" data-aos-duration="1000">
      <img src="assets/img/Redeban-logo.png" alt="logo-redeban">
    </div>
    <div
      class="text-[48px] lg:text-[80px] xl:text-[100px] 2xl:text-[128px] leading-[60px] lg:leading-[120px] xl:leading-[140px] 2xl:leading-[160px] 2xl:w-[800px] lexendb">
      <h2 data-aos="fade-right" data-aos-duration="1000">Data Driven</h2>
      <h2 data-aos="fade-right" data-aos-duration="1100"> y producto</h2>
      <h2 data-aos="fade-right" data-aos-duration="1200"> digital</h2>
    </div>
  </div>

</section>

<section class="h-[100%] lg:mt-80 ">

  <div class="w-full h-screen bg-no-repeat bg-cover bg-fixed "
    style="background-image: url(/assets/img/estadisticas.png);">

  </div>
</section>


<!--

<section  style="color: white;"
  class="grid lg:grid-cols-2 grid-cols-1 bg-[#000000] lg:px-[6rem] px-4 gap-20 content-start lexendb text-[16px] 2xl:text-[25px] 2xl:mt-[0]  2xl:mt-[18rem] py-10">

  <div data-aos="fade-up" data-aos-duration="2000"
    class=" text-white lexendzetta mt-[150px] lg:text-[35px] text-[18px] 2xl:leading-[70px] 2xl:text-[49px] w-[1150px]">
    <p>Visualizacion</p>
    <p> de datos P2P y</p>
    <p> P2M</p>
  </div>
  <div>
    <div data-aos="fade-up" data-aos-duration="2000" class="lexend flex flex-wrap justify-between">

      <h4 class="mt-4 text-[21px] lg:text-[26px] lg:leading-[38px] 2xl:leading-[53.6px] 2xl:text-[36px] lg:w-[80%] lg:mt-40 lg:mb-40">
        During these uncertain times, many of us find ourselves in introspection mode, with new ideas and
        resolving to do better. We wish we could help everyone and fix everything.</h4>

    </div>
  </div>

</section>-->


<section class="flex flex-wrap justify-between text-white h-screen bg-[#000000] px-4 lg:px-[5rem] xl:px-[6rem]">
  <div class="lexendzetta mt-20 lg:mt-40 mb-20 lg:mb-40 text-[23px] lg:text-[30px] xl:text-[38px] 2xl:text-[46px]">
    <p>Visualizacion</p>
    <p>de datos P2P y</p>
    <p>P2M </p>
  </div>

  <div
    class="w-[300px] lg:w-[450px] xl:w-[600px] 2xl:w-[750px] mt-0 lg:mt-40 mb-40 text-[17px] lg:text-[20px]  xl:text-[28px]  2xl:text-[36px]">
    <p>During these uncertain times, many of us find ourselves in introspection mode, with new ideas and
      resolving to do better. We wish we could help everyone and fix everything. </p>
  </div>

</section>


<section>
  <p>video Primax</p>
</section>


<!--
<section class="py-10">

  <div data-aos="fade-right" data-aos-duration="1500" class="w-[70%] ml-20 mt-80">
    <img src="assets/img/sucursal.png" alt="">
  </div>

  <div data-aos="fade-left" data-aos-duration="1500" class="w-[70%] ml-60 mt-80">
    <img src="assets/img/laptop-inclinada.png" alt="">
  </div>

  <div class="lg:mt-80 px-4">
    <div
      class="lg:ml-40 lg:hidden mt-20 lexendb text-[48px] lg:text-[50px] 2xl:leading-[40px] 2xl:text-[50px] lg:w-[350px] ">
      <h2>Desarrollo front-end</h2>
    </div>


    <div
      class="lg:block hidden lg:ml-40 mt-20 lexendb lg:text-[70px] 2xl:leading-[160px] 2xl:text-[128px] 2xl:w-[800px] lg:w-[350px] ">
      <h2>
        <div data-aos="fade-right" data-aos-duration="1600">Desarrollo</div>
        <div data-aos="fade-right" data-aos-duration="1700">front-end</div>
      </h2>
    </div>

    <div data-aos="fade-up" data-aos-duration="2000" class="lg:absolute lg:left-[65%] mb-8 lg:w-[30%] text-[22px]">
      <h3>Este sistema nace con el proposito de crear valor
        a todos los stakeholder b2b de la empresa, administrando
        diferentes entornos dentro de la organización</h3>
    </div>


  </div>
  -->

<!--<div class="lg:w-[80px] lg:absolute lg:left-[65%] mt-20 text-[10px] px-4 lg:block hidden">
    <p class="mb-4">Tecnologías</p>
    <span>Angular
      Tailwind CSS
      Material</span>
  </div>





  <div class="lg:w-[150px] lexendb text-[14px] lg:absolute lg:left-[65%] mt-20 px-4">
    <p data-aos="fade-up" data-aos-duration="1900" class="mb-4 lg:mb-2 text-[36px] lg:text-[21px] lexend">Tecnologías
    </p>
    <p data-aos="fade-up" data-aos-duration="2000">Angular</p>
    <p data-aos="fade-up" data-aos-duration="2100">Tailwind CSS</p>
    <p data-aos="fade-up" data-aos-duration="2200">Material</p>
  </div>

</section>
-->

<section class="py-10">

  <div data-aos="fade-right" data-aos-duration="1500" class="w-[70%] mt-80">
    <img src="assets/img/sucursal.png" alt="">
  </div>

  <div data-aos="fade-left" data-aos-duration="1500" class="w-[70%] ml-60 mt-80">
    <img src="assets/img/laptop-inclinada.png" alt="">
  </div>

  <div class="flex flex-wrap justify-between 2xl:px-[120px] xl:px-[100px] lg:px-[80px] mt-[30%]">

    <div class="lexendb 2xl:w-[618px] leading-[60px] lg:leading-[140px] 2xl:text-[128px] xl:text-[122px] lg:text-[95px] text-[48px]  ">
      <h2>Desarrollo</h2>
      <h2>front-end</h2>
    </div>

    <div class="2xl:mr-[-4%]
    text-[21px] 2xl:text-[36px] 2xl:w-[650px]
    xl:text-[30px] xl:w-[480px] xl:mr-[-6%]
    lg:text-[25px] lg:w-[400px] lg:mr-[-6%] lg:mt-[3%]

    mt-[1rem] ">
      <h3>Este sistema nace con el proposito de crear valor a todos los stakeholder b2b de la empresa, administrando
        diferentes entornos dentro de la organización</h3>

        <div class="lg:w-[150px] lexendb lg:text-[8px] xl:text-[14px] lg:absolute mt-[20%] text-[14px] lg:mt-20 px-0">
          <p data-aos="fade-up" data-aos-duration="1900" class="mb-4 lg:mb-2 lg:text-[13px] xl:text-[21px] text-[36px] lexend">Tecnologías
          </p>
          <p data-aos="fade-up" data-aos-duration="2000">Angular</p>
          <p data-aos="fade-up" data-aos-duration="2100">Tailwind CSS</p>
          <p data-aos="fade-up" data-aos-duration="2200">Material</p>
        </div>


    </div>



  </div>

</section>

<section class="h-[100%] lg:mt-80 ">

  <div class="w-full h-screen bg-no-repeat bg-cover bg-fixed "
    style="background-image: url(/assets/img/chica-computadora.png);">

  </div>
</section>

<!-- <section>
  <div data-aos="fade-right" data-aos-duration="1000" class="w-[70%] mt-20 ">
    <img src="assets/img/laptop-inclinada2.png" alt="">
  </div>

  <div data-aos="fade-left" data-aos-duration="1000" class="w-[70%] ml-80 mt-80 mb-20">
    <img src="assets/img/laptop-inclinada3.png" alt="">
  </div>
</section> -->





<section
  class="px-4 lg:px-[6rem] xl:px-[7rem] 2xl:px-[10rem] lg:py-[11rem] h-full lg:h-auto bg-[#E8E8E8] flex flex-col justify-center lg:block">
  <p data-aos="fade-up" data-aos-duration="2000" class="lexendb text-sm indent">Win to win</p>
  <p data-aos="fade-up" data-aos-duration="2000"
    class="lexendzetta lg:text-[40px] 2xl:text-[49px] lg:leading-[53px] 2xl:leading-[61px] mt-8 lg:mt-[5rem] indent">
    Entender los problemas de los usuarios para crear un productos que realmente les genere valor al realizar tareas
    operacionales automatizadas.
  </p>
  <div class="lg:flex lg:flex-row items-center justify-between hidden mt-60 ml-20">
    <div>
      <p data-aos="fade-down" data-aos-duration="2000" class="lexendb text-sm">EQUIPO</p>
      <ul data-aos="fade-up" data-aos-duration="2000" class="lexedn font-medium text-[13px] mt-5">
        <li>LUIS WATANABE Delivery Manager</li>
        <li>LIZ VEGA Product Owner</li>
        <li>CARLOS HIDALGO Head of Agile </li>
        <li>ROLANDO SACHÚN Scrum Master</li>
        <li>MIJALYS SILVA Head of UX</li>
        <li>ANDRES AMPUERO Product Designer</li>
        <li>MELANY MERCADO Ux Designer</li>
        <li>KEN RAMIREZ Lead front-end</li>
        <li>HELEN VÁSQUEZ Front-end</li>
        <li>DANIELA GUTIERREZ Front-end</li>
      </ul>
    </div>
    <img data-aos="flip-right" data-aos-duration="2000" class="lg:w-[650px] 2xl:w-[800px]"
      src="assets/img/mano-like.png" alt="">
  </div>
</section>

<section class="h-full lg:px-40  bg-[#141C26] lexendzetta text-[#D8D8D8] flex justify-center">
  <div class="flex justify-between flex-wrap content-center w-full px-4 lg:px-0">
    <div>
      <div class="lg:px-4">
        <a class="text-[18px] lg:text-[16px] 2xl:text-[36px] ">Ir a proyecto</a>
      </div>
      <div class="lg:-mt-10">
        <a class="text-[36px] lg:text-[100px] 2xl:text-[144px]">Redeban</a>
      </div>
    </div>
    <div class="flex lg:flex-wrap justify-end content-center">
      <img alt="Arrow" class="w-[39.6px] lg:w-[60%] 2xl:w-[100%]" src="assets/img/icon/Arrow.svg">
    </div>
  </div>
</section>
