<section class="py-10 flex flex-wrap content-around">
  <div class="flex justify-center w-full h-full lg:hidden   ">
    <img src="assets/img/laptop-notifai.png">
  </div>
  <div
    class="px-4 lg:px-32 grid grid-cols-1 lg:grid-cols-2 gap-2 lg:gap-20 content-start mt-5 lg:mt-16 text-[14px] tracking-wider lexendb">
    <div>
      <h4     data-aos="fade-up" data-aos-duration="2000" >CLIENTE</h4>
      <span   data-aos="fade-up" data-aos-duration="2000" class="lg:hidden lexendzetta text-[36px]">Notifai </span>
    </div>
    <div      data-aos="fade-up" data-aos-duration="2000" class="flex justify-between text-[14px]">
      <div>
        <h4>FECHA</h4>
        <span class="lexend">2021</span>
      </div>

      <div class="lg:block hidden">
        <h4>PAÍS</h4>
        <span class="lexend">COLOMBIA</span>
      </div>
    </div>
  </div>
  <br>
  <div data-aos="fade-up" data-aos-duration="2000" class="mt-28 lg:ml-[-420px] w-[-420px] lg:block hidden">
    <span class="lg:text-[88px] 2xl:leading-[7.25rem] 2xl:text-[50px] w-[20px] lexendzetta ">Notifai</span>
  </div>
  <div class="lg:px-32 px-4 mt-20">
    <div data-aos="fade-up" data-aos-duration="2000" class="grid grid-cols-2 lg:gap-4 content-start lg:w-[30%] text-[14px] tracking-wider lexend">
      <div>
        <h3 class="lexendb">ENTREGABLES</h3>
        <ul>INSIGHT RESEARCH</ul>
        <ul>PRODUCT DEFINITION</ul>
        <ul>DESIGN SYSTEM</ul>
      </div>
      <div>
        <h3 class="lexendb">ROLE</h3>
        <ul>STRATEGY</ul>
        <ul>CONCEPT</ul>
        <ul>ART DIRECTION</ul>
        <ul>DESIGN</ul>
        <ul>PRODUCTION</ul>
      </div>
    </div>

    <img data-aos="flip-left" data-aos-duration="2000" class="absolute lg:block hidden w-[992px] h-[518px] left-[40%] 2xl:right-[20rem] top-[4rem] 2xl:top-[0rem] mt-20 "
      src="assets/img/laptop-notifai.png">

    <div
      class="grid grid-cols-1 lg:grid-cols-2 gap-20 content-start lexendb text-[16px] 2xl:text-[25px] mt-[5rem] lg:mt-[12rem] 2xl:mt-[18rem]">
      <div data-aos="fade-up" data-aos-duration="2000">
        <h4 class="text-[12px] 2xl:text-[21px]">Primax y el reto</h4>
        <p class="mt-4">

          During these uncertain times, many of us find ourselves in introspection mode,
          with new ideas and resolving to do better. We wish we could help everyone and
          fix everything.
        </p>
      </div>

      <div data-aos="fade-up" data-aos-duration="2000">
        <h4 class="text-[12px] 2xl:text-[21px]">El trabajo de Esedor</h4>
        <p class="mt-4">

          During these uncertain times,
          many of us find ourselves in introspection mode,
          with new ideas and resolving to do better.
        </p>
      </div>
    </div>
  </div>


  <div
    class="relative px-4 lg:left-[53%] lexendzetta mt-[44px] lg:mt-80 text-[48px] lg:text-[50px] 2xl:leading-[40px] 2xl:text-[50px] w-[500px] ">
    <h2>
      <div  data-aos="fade-right" data-aos-duration="1000">Branding y</div>
      <div data-aos="fade-right" data-aos-duration="1500">Naming</div>


    </h2>
  </div>

</section>


<section class="h-[100%] lg:mt-80 ">

  <div class="w-full h-screen bg-no-repeat bg-cover bg-fixed h-[110%]"
    style="background-image: url(assets/img/parallax-notifai.png);">

  </div>
</section>


<section style="background: black;" >
  <div
    class="lg:flex py-[6rem] mt-[4rem] justify-between px-[2rem] lg:px-[5rem] w-full flex-wrap content-center text-white">
    <div class="lg:w-[42%]">
      <span class="lexendzetta lg:text-[40px] 2xl:leading-[40px] 2xl:text-[50px] lg:leading-[61px]">
        Investigación y definición de experiencia de cliente (CX)
      </span>
    </div>
    <div class="lg:w-[42%] mt-[3rem] lg:mt-0">
      <p class="text-[21px] lg:text-[22px] 2xl:text-[36px] lexend">
        During these uncertain times, many of us find ourselves in introspection mode,
        with new ideas and resolving to do better. We wish we could help everyone and fix everything.
      </p>
      <p class="mt-[2rem] lg:mt-[14px] text-[10px] lg:text-[12px] 2xl:text-[16px] lexend tracking-[0.0015em]">“During these uncertain times, many of us find ourselves in introspection mode, with new ideas and resolving to do better. We wish we could help everyone and fix everything. “
      </p>
    </div>
  </div>

  <section class=" h-full bg-[#000000] flex justify-center flex-wrap content-center">
    <img class="w-[385px] h-[240px] lg:h-[590px] 2xl:h-[890px] 2xl:w-[1428px] lg:w-[1028px]" alt="laptop2"
      src="assets/img/videollamada.png">
  </section>
</section>

<section class="mt-80">



  <div
    class="lexendzetta grid lg:grid-cols-2 grid-cols-1 gap-20 content-start lexendb text-[10px] 2xl:text-[25px] mt-[5rem] 2xl:mt-[18rem]">
    <div class="lg:hidden mt-10 lg:mt-20 px-4">
      <p class="text-[45px] lexendb text-[48px] w-[70%]">Product Market Fit</p>
    </div>
    <div class="mb-20 mt-[-100px]">
      <img src="/assets/img/celular-catalogo.png" alt="">
    </div>
    <div class="mt-20 lg:block hidden mt-[-20px]">
      <p class="lexendb text-[45px] w-[300px] ml-10 mt-60" >Product Market Fit</p>
    </div>
  </div>


</section>

<section class="lg:h-full lg:flex justify-between hidden">
  <div class="lg:w-[50%] h-full backgroung-gradient flex flex-wrap justify-center content-center">
    <img class="w-[40%]" alt="cel1" src="assets/img/cel1.png">
  </div>
  <div class="lg:w-[50%] h-full bg-[#222DE9] flex flex-wrap justify-center content-center">
    <img class="w-[40%]" alt="cel2" src="assets/img/cel2.png">
  </div>
</section>

<section class="h-full">
  <div class="w-full h-screen bg-no-repeat bg-cover bg-fixed mt-[-16%]"
    style="background-image: url(assets/img/parallax-notifai2.png);">

  </div>
</section>


<section class="py-10 px-4 lg:mt-20">
  <!--primera imagen -->
  <div class="lg:mt-8">
    <img src="/assets/img/celular-catalogo.png" alt="">
  </div>
  <!--segunda imagen -->
  <div>
    <img src="/assets/img/celular-biblioteca.png" alt="">
  </div>
  <!--tercera imagen -->
  <div>
    <img src="/assets/img/celular-ayuda.png" alt="">
  </div>
  <!--cuarta imagen -->
  <div class="w-full flex justify-end">
    <img src="/assets/img/reservas-celular.png" alt="">
  </div>
  <!--quinta imagen -->
  <div class="flex justify-center ">
    <img src="/assets/img/resumen-celular.png" alt="">
  </div>
  <!--sexta imagen -->
  <div class="ml-60" >
    <img src="/assets/img/region.png" alt="">
  </div>
  <!--septima imagen -->
  <div class="flex justify-center flex-wrap content-center w-full ">
    <img class="w-[74%]" alt="dashboard1" src="assets/img/dashboard1.png">
  </div>

  <!--octava imagen -->
  <div class="w-full flex justify-end">
    <img class="w-[65%]" alt="dashboard3" src="assets/img/dashboard3.png">
  </div>
</section>


<section class="h-full bg-[#5682FF] flex flex-wrap content-center justify-center">
  <img alt="laptop" class="lg:w-[871px] lg:h-[438px] 2xl:w-[1371px] 2xl:h-[838px] shadowlap" src="/assets/img/laptop2.png">
</section>


<section class="h-full lg:px-40  bg-[#141C26] lexendzetta text-[#D8D8D8] flex justify-center">
  <div class="flex justify-between flex-wrap content-center w-full px-4 lg:px-0">
    <div>
      <div class="lg:px-4">
        <a class="text-[18px] lg:text-[16px] 2xl:text-[36px] ">Ir a proyecto</a>
      </div>
      <div class="lg:-mt-10">
        <a class="text-[36px] lg:text-[100px] 2xl:text-[144px]">Redeban</a>
      </div>
    </div>
    <div class="flex lg:flex-wrap justify-end content-center">
      <img alt="Arrow" class="w-[39.6px] lg:w-[60%] 2xl:w-[100%]" src="assets/img/icon/Arrow.svg">
    </div>
  </div>
</section>
