<ngu-carousel #myCarousel [inputs]="carouselConfig" [dataSource]="[first, second, third, fourth]">
    <div *nguCarouselDef="let item;" class="item py-4">
        <div class="tile">
            <ng-container *ngTemplateOutlet="item"></ng-container>
        </div>
    </div>
    <ng-template #first>
        <div class="flex flex-col justify-center">
            <h1 class="text-center text-[49px] lexendzetta text-[#D8D8D8] mb-8 hidden lg:block" #title>Primax</h1>
            <div class="slide one sliderItem flex items-center py-[5rem]">
                <div class="lexendzetta text-[12.5px] text-[#FFFFFF] w-[30%] hidden lg:block">
                    <p>2021</p>
                    <p>Marketplace</p>
                    <p>Experiencia de usuario</p>
                    <p>Sisema de diseño</p>
                    <p>Definición de producto</p>
                </div>
                <div class="flex justify-center">
                    <img class="w-[371px] lg:w-auto" src="assets/img/rectangle.png" alt="">
                    <div class="absolute bottom-[15px] flex justify-center items-center">
                        <img class="w-[138px] lg:w-[225px] 2xl:w-[250px]" src="assets/img/phone.png" alt="">
                    </div>
                </div>
                <div class="w-[30%]"></div>
            </div>
        </div>
    </ng-template>
    <ng-template #second>
        <div class="flex flex-col justify-center">
            <h1 class="text-center text-[49px] lexendzetta text-[#D8D8D8] mb-8 hidden lg:block" #title>Redeban</h1>
            <div class="slide one sliderItem flex items-center py-[5rem]">
                <div class="lexendzetta text-[12.5px] text-[#FFFFFF] w-[30%] hidden lg:block">
                    <p>2021</p>
                    <p>Marketplace</p>
                    <p>Experiencia de usuario</p>
                    <p>Sisema de diseño</p>
                    <p>Definición de producto</p>
                </div>
                <div class="flex justify-center">
                    <img class="w-[371px] lg:w-auto" src="assets/img/rectangle.png" alt="">
                    <div class="absolute bottom-[15px] flex justify-center items-center w-full">
                        <img class="w-[138px] lg:w-[225px] 2xl:w-[250px]" src="assets/img/phone.png" alt="">
                    </div>
                </div>
                <div class="w-[30%]"></div>
            </div>
        </div>
    </ng-template>
    <ng-template #third>
        <div class="flex flex-col justify-center">
            <h1 class="text-center text-[49px] lexendzetta text-[#D8D8D8] mb-8 hidden lg:block" #title>Niubiz</h1>
            <div class="slide one sliderItem flex items-center py-[5rem]">
                <div class="lexendzetta text-[12.5px] text-[#FFFFFF] w-[30%] hidden lg:block">
                    <p>2021</p>
                    <p>Marketplace</p>
                    <p>Experiencia de usuario</p>
                    <p>Sisema de diseño</p>
                    <p>Definición de producto</p>
                </div>
                <div class="flex justify-center">
                    <img class="w-[371px] lg:w-auto" src="assets/img/rectangle.png" alt="">
                    <div class="absolute bottom-[15px] flex justify-center items-center w-full">
                        <img class="w-[138px] lg:w-[225px] 2xl:w-[250px]" src="assets/img/phone.png" alt="">
                    </div>
                </div>
                <div class="w-[30%]"></div>
            </div>
        </div>
    </ng-template>
    <ng-template #fourth>
        <div class="flex flex-col justify-center">
            <h1 class="text-center text-[49px] lexendzetta text-[#D8D8D8] mb-8 hidden lg:block" #title>CML</h1>
            <div class="slide one sliderItem flex items-center py-[5rem]">
                <div class="lexendzetta text-[12.5px] text-[#FFFFFF] w-[30%] hidden lg:block">
                    <p>2021</p>
                    <p>Marketplace</p>
                    <p>Experiencia de usuario</p>
                    <p>Sisema de diseño</p>
                    <p>Definición de producto</p>
                </div>
                <div class="flex justify-center">
                    <img class="w-[371px] lg:w-auto" src="assets/img/rectangle.png" alt="">
                    <div class="absolute bottom-[15px] flex justify-center items-center w-full">
                        <img class="w-[138px] lg:w-[225px] 2xl:w-[250px]" src="assets/img/phone.png" alt="">
                    </div>
                </div>
                <div class="w-[30%]"></div>
            </div>
        </div>
    </ng-template>

    <!-- <button NguCarouselNext class="rightRs">></button>
	<button NguCarouselPrev class="leftRs"><</button> -->
    <ul class="myPoint" NguCarouselPoint>
        <span class="text-white text-sm lexendzetta pr-2">01</span>
        <li *ngFor="let i of myCarousel.pointNumbers; let ind = index" [class.active]="i==myCarousel.activePoint"
            (click)="myCarousel.moveTo(i)"></li>
        <span class="text-white text-sm lexendzetta pl-2">04</span>

    </ul>
</ngu-carousel>


<!-- <div class="flex items-start py-[1rem] justify-between w-full h-full" id="container">
    <div id="slider">
      <div>
        <h1 class="text-center text-[49px] lexendzetta text-[#D8D8D8] mb-8 hidden lg:block" #title>Primax</h1>
        <div class="slide one sliderItem">
          <div class="lexendzetta text-[12.5px] text-[#FFFFFF] w-[30%] hidden lg:block">
            <p>2021</p>
            <p>Marketplace</p>
            <p>Experiencia de usuario</p>
            <p>Sisema de diseño</p>
            <p>Definición de producto</p>
          </div>
          <div class="flex justify-center">
            <img class="w-[371px] lg:w-auto" src="assets/img/rectangle.png" alt="">
            <img class="absolute top-[-10px] w-[138px] lg:w-[180px] 2xl:w-[200px]" src="assets/img/phone.png" alt="">
          </div>
          <div class="w-[30%]"></div>
        </div>
      </div>
      <div>
        <h1 class="text-center text-[49px] lexendzetta text-[#D8D8D8] mb-8 hidden lg:block" #title>Redeban</h1>
        <div class="slide one sliderItem">
          <div class="lexendzetta text-[12.5px] text-[#FFFFFF] w-[30%] hidden lg:block">
            <p>2021</p>
            <p>Marketplace</p>
            <p>Experiencia de usuario</p>
            <p>Sisema de diseño</p>
            <p>Definición de producto</p>
          </div>
          <div class="flex justify-center">
            <img class="w-[371px] lg:w-auto" src="assets/img/rectangle.png" alt="">
            <img class="absolute top-[-10px] w-[138px] lg:w-[180px] 2xl:w-[200px]" src="assets/img/phone.png" alt="">
          </div>
          <div class="w-[30%]"></div>
        </div>
      </div>
      <div>
        <h1 class="text-center text-[49px] lexendzetta text-[#D8D8D8] mb-8 hidden lg:block" #title>Niubiz</h1>
        <div class="slide one sliderItem">
          <div class="lexendzetta text-[12.5px] text-[#FFFFFF] w-[30%] hidden lg:block">
            <p>2021</p>
            <p>Marketplace</p>
            <p>Experiencia de usuario</p>
            <p>Sisema de diseño</p>
            <p>Definición de producto</p>
          </div>
          <div class="flex justify-center">
            <img class="w-[371px] lg:w-auto" src="assets/img/rectangle.png" alt="">
            <img class="absolute top-[-10px] w-[138px] lg:w-[180px] 2xl:w-[200px]" src="assets/img/phone.png" alt="">
          </div>
          <div class="w-[30%]"></div>
        </div>
      </div>
      <div>
        <h1 class="text-center text-[49px] lexendzetta text-[#D8D8D8] mb-8 hidden lg:block" #title>CML</h1>
        <div class="slide one sliderItem">
          <div class="lexendzetta text-[12.5px] text-[#FFFFFF] w-[30%] hidden lg:block">
            <p>2021</p>
            <p>Marketplace</p>
            <p>Experiencia de usuario</p>
            <p>Sisema de diseño</p>
            <p>Definición de producto</p>
          </div>
          <div class="flex justify-center">
            <img class="w-[371px] lg:w-auto" src="assets/img/rectangle.png" alt="">
            <img class="absolute top-[-10px] w-[138px] lg:w-[180px] 2xl:w-[200px]" src="assets/img/phone.png" alt="">
          </div>
          <div class="w-[30%]"></div>
        </div>
      </div>
    </div>

  </div>
  <div class="w-full hidden lg:flex justify-center pb-[4rem]">
    <button id="prev" (click)="prevElement()"
      class="py-3 px-4 text-white border-b-[1px] border-white focus:border-b-[2px] w-[100px] text-left">01</button>
    <button id="next" (click)="nextElement()"
      class="py-3 px-4 text-white border-b-[1px] border-white focus:border-b-[2px] w-[100px] text-right">02</button>
  </div> -->