<mat-toolbar class="main-header text-black -mt-6 bg-transparent">
  <div class="flex justify-between w-full text-[0.875rem] 3xl:text-[1.875rem]" [ngClass]="{ 'text-white' : colorWhite}">
    <div class="flex items-center w-[30%]" #logo >
      <div class="cursor-pointer" routerLink="/index">
        <img class="w-[2.313] h-[2rem]" [ngClass]="{ 'hidden' : colorWhite}" src="assets/img/logoE.svg">
        <img class="w-[2.313] h-[2rem]" [ngClass]="{ 'hidden' : !colorWhite}" src="assets/img/logo_white.png">
      </div>
      <span [class.header_variable]="header_variable" routerLink="/index"
        class="text-[1.125rem] lexend ml-4 leading-[22px] lexendzetta font-medium cursor-pointer">Esedor</span>
    </div>
    <div class="flex lg:space-x-10 w-[70%]">
      <div [class.header_variable]="header_variable" #menu
        class="space-x-10 lg:flex hidden justify-between w-full lexendzetta font-bold">
        <span class="cursor-pointer" (click)="redirectProject()">Proyectos</span>
        <span>Nosotros</span>
        <span>Contacto</span>
        <div #search>
          <div [ngClass]="{ 'hidden' : colorWhite}" class="mt-[0.38rem]">
            <svg class="cursor-pointer" width="42" height="22" viewBox="0 0 42 22" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <line y1="1" x2="42" y2="1" stroke="#000000" stroke-width="2" />
              <path d="M0 11L23 11" stroke="#000000" stroke-width="2" />
              <line y1="21" x2="42" y2="21" stroke="#000000" stroke-width="2" />
            </svg>
          </div>
          <div [ngClass]="{ 'hidden' : !colorWhite}" class="mt-[0.38rem]">
            <svg class="cursor-pointer" width="42" height="22" viewBox="0 0 42 22" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <line y1="1" x2="42" y2="1" stroke="#FFFFFF" stroke-width="2" />
              <path d="M0 11L23 11" stroke="#FFFFFF" stroke-width="2" />
              <line y1="21" x2="42" y2="21" stroke="#FFFFFF" stroke-width="2" />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>