<app-toolbar [colorWhite]="colorWhite"></app-toolbar>
<section class="lg:py-[4rem] px-4 lg:px-[6rem] xl:px-[7rem]">
  <div class="flex flex-col-reverse lg:flex-row items-center lg:justify-between">
    <div>

      <div data-aos="fade-up" data-aos-duration="1000" class="hidden lg:flex items-center space-x-[8rem]">
        <div>
          <h4 class="text-sm lexendb">FECHA</h4>
          <p class="text-base lexend">2021</p>
        </div>
        <div>
          <h4 class="text-sm lexendb">INDUSTRIA</h4>
          <p class="text-base lexend">ENERGÍA</p>
        </div>
      </div>


      <h4 data-aos="fade-right" data-aos-duration="1000" class="text-sm lexendb mt-[4.5rem] lg:mt-[6.5rem]">CLIENTE</h4>
      <p data-aos="fade-up" data-aos-duration="1000"
        class="text-[#141C26] lg:text-black text-[36px] lg:leading-[7.5rem] lg:text-[96px] lexendzetta -ml-2 lg:ml-[-1rem]">
        Primax
      </p>
      <div class="block lg:hidden mt-8">
        <h4 class="text-sm lexendb">FECHA</h4>
        <p class="text-base lexend">2021</p>
      </div>
      <div data-aos="fade-up" data-aos-duration="2000"
        class="flex mt-[4.5rem] lg:pt-[6.5rem] space-x-4 lg:space-x-[8rem]">
        <div>
          <h4 class="text-sm lexendb">SERVICIOS</h4>
          <p class="text-base lexend">
            RESEARCH & ESTRATEGÍA</p>
          <p>DEFINICIÓN DE PRODUCTO</p>
          <p>DESIGN SYSTEM</p>
        </div>
        <div>
          <h4 class="text-sm lexendb">DEFINICIONES</h4>
          <p class="text-base lexend">
            STRATEGY</p>
          <p>CONCEPT</p>
          <p>ART DIRECTION</p>
          <p>DESIGN</p>
          <p> PRODUCTION
          </p>
        </div>
      </div>
    </div>


    <div data-aos="flip-right" data-aos-duration="1000">
      <img class="w-[200px] lg:w-[400px] mt-[6rem] lg:mt-[4.5rem]" src="assets/img/iphone.png">
    </div>

  </div>
  <div class="grid lg:grid-cols-2 gap-[5.5rem] lg:gap-[8rem] mt-[5rem]">
    <div data-aos="fade-up" data-aos-duration="2000" class="lexend">
      <p class="text-sm lg:text-[16px] pb-8 font-bold lg:font-normal">Primax y el reto</p>
      <h3 class="text-[21px] lg:text-[36px]">
        Involucrar a todos sus partners dentro de esta tienda virtual y
        crear una plataforma de venta de productos y servicios de marketing </h3>
    </div>
    <div data-aos="fade-up" data-aos-duration="2000" class="lexend">
      <p class="text-sm lg:text-[16px] pb-8 font-bold lg:font-normal">El trabajo de Esedor</p>
      <h3 class="text-[21px] lg:text-[36px]">
        Definir la nueva generación de productos digitales y crear su primera tienda virtual b2b de productos
        y servicios de marketing que ofrece primax</h3>
    </div>
  </div>
  <h2
    class="lexendb text-[48px] lg:text-[110px] 2xl:text-[128px] py-[4rem] lg:py-0 leading-[60px] lg:leading-[140px] 2xl:leading-[160px] lg:w-[650px] 2xl:w-[49%] ml-auto lg:mt-[8rem]">
    <div data-aos="fade-right" data-aos-duration="1000">Nueva</div>
    <div data-aos="fade-right" data-aos-duration="1000">experiencia</div>
    <div data-aos="fade-right" data-aos-duration="1000"> ecommerce</div>
    <div data-aos="fade-right" data-aos-duration="1000">B2B</div>
  </h2>
</section>

<section id="parallax" class="h-[80%]">

</section>

<section class="bg-black py-[4rem] lg:py-[12.6rem] px-4 lg:px-[6rem] xl:px-[7rem]">
  <div class="grid lg:grid-cols-2 lg:gap-[5rem] xl:gap-[7rem] text-white">
    <p data-aos="fade-up" data-aos-duration="2000"
      class="lexendzetta text-[18px] lg:text-[35px] xl:text-[40px] 2xl:text-[49px] lg:leading-[61.5px]">
      Investigación y arquitectura de información
    </p>
    <div class="mt-[3rem] lg:mt-0 lexend">
      <h3 data-aos="fade-up" data-aos-duration="2000"
        class="text-[21px] lg:text-[22px] xl:text-[36px] 2xl:leading-[53px]">
        La busqueda del insight de ux al entender a nuestros usuarios empatizando con ellos y creando escenarios y
        contextos donde puedan validar features,
        dentro de sesiones cognitivas de nuestros productos.
      </h3>
      <p data-aos="fade-up" data-aos-duration="2000"
        class="mt-[2rem] text-[13px] lg:text-[14.5px] font-medium lg:font-normal">“Sesiones
        ludicas y divertidas que puedan romper el hielo en cada usuario que deseamos explorar en las sesiones
        cognitivas“</p>
      <p data-aos="fade-up" data-aos-duration="2000" class="lexendb text-sm mt-[1.5rem]">Cómo empatizar con ellos</p>
    </div>
  </div>
  <div class="mt-[5rem] lg:mt-[6rem] h-full bg-[#000000] flex justify-center flex-wrap content-center">
    <img data-aos="zoom-out" data-aos-duration="1000" class="w-[385px] lg:w-[85%] 2xl:w-[90%]" alt="laptop2"
      src="assets/img/videollamada.png">
  </div>
</section>

<section class="px-4 lg:px-[6rem] xl:px-[7rem] py-[6rem] lg:py-[11rem] lg:bg-[#F2F2F2] lg:h-[1210px]">
  <h2
    class="lexendb text-[48px] lg:text-[110px] leading-[60px] 2xl:text-[128px] lg:leading-[140px] 2xl:leading-[160px] lg:w-[650px] 2xl:w-[49%] ml-auto">
    <div data-aos="fade-down" data-aos-duration="1000">Sistema</div>
    <div data-aos="fade-up" data-aos-duration="1000"> de Diseño</div>
  </h2>
  <div class="lexend mt-[5rem] flex flex-col-reverse lg:flex-row justify-between">
    <div data-aos="fade-up" data-aos-duration="2000" class="space-y-5 mt-[5rem] lg:mt-4 lg:w-[30%]">
      <p class="lg:text-sm lexendb"> PRIMERA FASE </p>
      <ul class="lg:text-[14.5px]">
        <li>Principios</li>
        <li>Estilos</li>
        <li>Componentes</li>
      </ul>
    </div>
    <h3 data-aos="fade-up" data-aos-duration="3000"
      class="text-[21px] lg:text-[36px] lg:leading-[53px] 2xl:pr-[9rem] lg:w-[650px] 2xl:w-[49%]">PRIMARY nace por la
      necesidad de
      definir una metología de trabajo entre el equipo de diseño y desarrollo de Primax.</h3>
  </div>
</section>

<section class="px-4 lg:px-0">
  <img class="relative top-[-20rem] hidden lg:block" src="assets/img/img_static.png" alt="">
  <div class="lg:hidden">
    <img class="lg:absolute lg:top-[370rem] xl:top-[385rem] 2xl:top-[395rem] left-[11rem] lg:w-[550px] 2xl:w-auto"
      src="assets/img/image84.png" alt="">
    <img class="lg:absolute lg:top-[385rem] xl:top-[400rem] 2xl:top-[410rem] left-[0rem] lg:w-[600px] 2xl:w-auto"
      src="assets/img/image91.png" alt="">
    <img class="ml-auto lg:w-[900px] xl:w-[950px] 2xl:w-auto" src="assets/img/image89.png" alt="">
  </div>
  <div
    class="pb-[8rem] lg:pt-[3rem] lg:pb-[20rem] lg:px-[3rem] xl:px-[5rem] 2xl:px-[7rem] flex flex-col-reverse lg:flex-row lg:items-center lg:justify-between">
    <!-- lg:space-x-[0rem] 2xl:space-x-[4rem] -->
    <img data-aos="fade-up-right" data-aos-duration="2000" class="w-[280px] mx-auto lg:mx-0 lg:w-[350px] 2xl:w-[550px]" src="assets/img/market-fit.png" alt="">
    <!-- xl:w-[560px] -->
    <div class="lg:w-[49%]">
      <h2
        class="lexendb text-[48px] lg:text-[85px] 2xl:text-[125px] leading-[60px] lg:leading-[95px] 2xl:leading-[156px] mb-[6rem] lg:mb-0 mt-[11rem] lg:mt-0">
        <div data-aos="fade-up" data-aos-duration="2000">Product</div>
        <div data-aos="fade-up" data-aos-duration="2000"> Market Fit </div>
      </h2>
      <h3 data-aos="fade-up" data-aos-duration="2000"
        class="hidden lg:block lexend lg:text-[30px] 2xl:text-[36px] lg:leading-[50px] 2xl:leading-[53px] mt-[4rem] lg:pr-3 2xl:pr-0 lg:w-[500px] 2xl:w-[620px]">
        PRIMARY nace por la necesidad de definir una metología de trabajo entre el equipo de diseño y desarrollo de
        Primax.</h3>
    </div>

  </div>
</section>

<section class="lg:h-full lg:flex justify-between">
  <div class="lg:w-[50%] h-full backgroung-gradient flex flex-wrap justify-center content-center py-16 lg:py-0">
    <img data-aos="zoom-in-up" data-aos-duration="1000" class="lg:w-[380px] 2xl:w-[705px]" alt="cel1"
      src="assets/img/phone1.png">
  </div>
  <div class="lg:w-[50%] h-full bg-[#0166FF] flex flex-wrap justify-center content-center py-16 lg:py-0">
    <img data-aos="zoom-in-up" data-aos-duration="1000" class="lg:w-[350px] 2xl:w-[650px]" alt="cel2"
      src="assets/img/phone2.png">
    <!-- :w-[570px] xl -->
  </div>
</section>

<section id="parallax2">
</section>

<section class="pt-[5rem] lg:pt-[15rem] lg:pb-[26.5rem] 2xl:pb-[36rem] px-4 lg:px-[6rem] lg:px-[7rem] bg-[#F2F2F2]">
  <img data-aos="fade-right" data-aos-duration="1000"
    class="absolute left-[-5rem] 2xl:left-[0rem] lg:w-[750px] 2xl:w-[800px]" src="assets/img/celular-catalogo.png"
    alt="">
  <!-- xl:left-[-11rem] lg:left-[-5rem]-->
  <img data-aos="fade-left" data-aos-duration="1000" class="lg:w-[650px] 2xl:w-[750px] ml-auto mt-[16rem] lg:mt-[30rem]"
    src="assets/img/celular-biblioteca.png" alt="">
  <img data-aos="fade-right" data-aos-duration="1000"
    class="lg:absolute w-[185px] mx-auto lg:w-[280px] 2xl:w-auto mt-[4rem] lg:mt-0" src="assets/img/celular-ayuda.png"
    alt="">
  <div class="w-full flex lg:justify-end">
    <img data-aos="fade-left" data-aos-duration="1000"
      class="absolute lg:pt-[25rem] 2xl:pt-[28rem] w-[170px] lg:w-[280px] 2xl:w-auto mt-[1.5rem] lg:mt-0"
      src="assets/img/reservas-celular.png" alt="">
  </div>
  <div class="flex justify-end lg:justify-center lg:mt-[35rem] 2xl:mt-[50rem]">
    <img data-aos="fade-up" data-aos-duration="1000"
      class="lg:absolute w-[170px] lg:w-[280px] 2xl:w-auto mt-[12rem] lg:mt-0" src="assets/img/resumen-celular.png"
      alt="">
  </div>
</section>

<section class="lg:pt-[15rem] 2xl:pt-[25rem] pb-[8rem] lg:pb-[15rem] px-4 lg:px-[6rem] lg:px-[7rem]">
  <img data-aos="zoom-in" data-aos-duration="1000" class="mx-auto mt-[10rem] lg:mt-[5rem] lg:w-[800px] 2xl:w-auto"
    src="assets/img/region.png" alt="">
  <img data-aos="fade-right" data-aos-duration="1000" class="my-[6rem] lg:mt-[15rem] lg:mb-[10rem] w-[300px] lg:w-auto"
    alt="dashboard1" src="assets/img/content2.png">
  <div class="w-full flex justify-end">
    <img data-aos="fade-left" data-aos-duration="1000" class="w-[318px] lg:w-[65%]" alt="dashboard3"
      src="assets/img/dashboard3.png">
  </div>
</section>

<section class="px-4 lg:px-[6rem] xl:px-[7rem] bg-[#5682FF] h-full flex flex-wrap content-center">
  <img data-aos="flip-left" data-aos-duration="1000" class="mx-auto lg:w-[850px] 2xl:w-auto"
    src="assets/img/laptop2.png" alt="">
</section>

<section
  class="px-4 lg:px-[6rem] xl:px-[7rem] 2xl:px-[10rem] lg:py-[11rem] h-full lg:h-auto bg-[#E8E8E8] flex flex-col justify-center lg:block">
  <p data-aos="fade-up" data-aos-duration="2000" class="lexendb text-sm indent">Win to win</p>
  <p data-aos="fade-up" data-aos-duration="2000"
    class="lexendzetta lg:text-[40px] 2xl:text-[49px] lg:leading-[53px] 2xl:leading-[61px] mt-8 lg:mt-[5rem] indent">
    Entender los problemas de los usuarios para crear un productos que realmente les genere valor al realizar tareas
    operacionales automatizadas.
  </p>
  <div class="lg:flex lg:flex-row items-center justify-between hidden">
    <div>
      <p data-aos="fade-down" data-aos-duration="2000" class="lexendb text-sm">TEAM</p>
      <ul data-aos="fade-up" data-aos-duration="2000" class="lexedn font-medium text-[13px] mt-5">
        <li>LUIS WATANABE Delivery Manager</li>
        <li>PATRICIA ALCANTARA Lead</li>
        <li>CARLOS ALTAMIRANO Product Owner</li>
        <li>JÉSUS xxxxxxx Project Manager</li>
        <li>MIJALYS SILVA Head of UX</li>
        <li>NELSON PEREIRA Product Designer</li>
        <li>MELANY MERCADO UX Designer</li>
      </ul>
    </div>
    <img data-aos="flip-right" data-aos-duration="2000" class="lg:w-[650px] 2xl:w-[800px]"
      src="assets/img/mano-like.png" alt="">
  </div>
</section>

<section class="px-4 lg:pt-[5rem] pb-5 bg-[#5682FF] text-[#FFFFFF] flex flex-col lg:justify-start justify-end">
  <!-- h-full -->
  <p class="lexendzetta font-semibold text-[18px]">Esedor</p>
  <p class="lexend hidden lg:block">Transformando el presente</p>
  <div class="flex justify-between flex-col h-[50%] lg:h-[700px] px-[4rem]">
    <div class="relative">
      <div class="w-full h-[10px] transition-all duration-700 ease-in-out mt-[7.5rem]" [ngClass]="{ 'bg-hover' : bgHover }">
      </div>
      <div (mouseover)="bgHover = true" (mouseout)="bgHover = false"
        class="flex lg:flex-row items-center lg:h-[200px] w-full lg:border-t-[1px] lg:border-b-[1px] border-white justify-between lg:justify-start absolute top-[7.5rem]">
        <p class="lexendzetta text-[36px] lg:text-[96px]">Redeban</p>
        <p class="lexend text-[21px] ml-auto mr-[6rem] hidden lg:block">Ir a proyecto</p>
        <img class="mr-4" src="assets/img/arrow-footer.png" alt="" srcset="">
      </div>
      <div class="w-full h-[10px] transition-all duration-700 ease-in-out mt-[12rem]" [ngClass]="{ 'bg-hover2' : bgHoverTwo }">
      </div>
      <div (mouseover)="bgHoverTwo = true" (mouseout)="bgHoverTwo = false"
        class="flex lg:flex-row items-center lg:h-[200px] w-full lg:border-b-[1px] border-white justify-between lg:justify-start absolute top-[20.2rem]">
        <!-- <div> -->
        <p class="lexendzetta text-[36px] lg:text-[96px]">Niubiz</p>
        <p class="lexend text-[21px] ml-auto mr-[6rem] hidden lg:block">Ir a proyecto</p>
        <img class="mr-4" src="assets/img/arrow-footer.png" alt="" srcset="">
        <!-- </div> -->
      </div>
    </div>
    <div class="flex lg:justify-end mt-auto lg:mr-[7rem]">
      <button mat-raised-button class="bg-[#FFFFFF] text-black w-[250px] rounded-[12px] h-[70px]">Conversemos</button>
    </div>
  </div>
  <div>
    <p class="lexend text-[13px] font-medium ">Esedor © 2022</p>
    <ul class="ml-auto text-white text-sm lexend flex justify-between w-[55%] pr-[14rem]">
      <li>Proyectos</li>
      <li>Services</li>
      <li>Who we are</li>
      <li>Blog</li>
      <li>Careers</li>
    </ul>
  </div>
  <!-- py-[3rem] -->

</section>
