#container{

}

.font-title{
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 180px;
  letter-spacing: 0.19em;
}

.section1{
  background: #000000;
  mix-blend-mode: multiply;
  opacity: 0.85;
}

.section2{
  background: #ffff;
  mix-blend-mode: multiply;
  opacity: 0.85;
}

.example-spacer {
  flex: 1 1 auto;
}


.main-header {
  position: fixed;
  top: 4vh;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  padding-left: 2vw;
  padding-right: 2vw;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.main-menu__logo {
  width: 8rem;
  margin: 0;
  top: 6.8vh;
  left: 3vw;
}
