<div>
  <!--<header class="w-full trans">
    <div class="flex justify-between mx-4">
      <div class="flex items-center cursor-default">
        <a href="htpps://www.esedor.com">
          <img class="w-[35%] h-[35%]" src="https://esedor.com/img/new-logo.svg">
        </a>
      </div>
      <div class="flex justify-between space-x-10">
        <div>
          <ul class="flex space-x-4 justify-between">
            <li>
              <a href="#">Proyectos</a>
            </li>
            <li>
              <a href="#">Nosotros</a>
            </li>
            <li>
              <a href="#">Contacto</a>
            </li>
          </ul>
        </div>
        <div>
          <mat-icon>menu</mat-icon>
        </div>
      </div>
    </div>
  </header>-->

  <mat-toolbar class="">
    <div class="flex items-center">
      <a href="htpps://www.esedor.com">
        <img class="w-[35%] h-[35%]" src="https://esedor.com/img/new-logo.svg" alt="Esedor Logo">
      </a>
    </div>
    <div class="flex justify-between text-white">
      <div>
        <ul class="flex justify-between">
          <li>
            <a href="#">Proyectos</a>
          </li>
          <li>
            <a href="#">Nosotros</a>
          </li>
          <li>
            <a href="#">Contanos</a>
          </li>
        </ul>
      </div>
      <div>
        <mat-icon>menu</mat-icon>
      </div>
    </div>
  </mat-toolbar>

  <section class="bg-blue-600">
    <h1>Hello 1</h1>
  </section>
  <section class="bg-red-600">
    <h1>Hello 1</h1>
  </section>
  <section class="bg-green-200">
    <h1>Hello 1</h1>
  </section>
</div>
