<mat-toolbar style="position: fixed" class="bg-red-600">
  <span class="text-[#FFFF]">My App</span>
  <span class="example-spacer"></span>
  <ul class="flex justify-between space-x-5 text-[0.875rem]">
    <li>
      <a class="text-[#FFFF]">Proyectos</a>
    </li>
    <li>
      <a>Nosotros</a>
    </li>
    <li>
      <a>Contacto</a>
    </li>
  </ul>
  <button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<div id="container" class="h-full">
  <section class="section1 py-2 px-4 h-full">
    <div class="text-[#D8D8D8] flex flex-wrap content-between">
      <div class="w-full mt-10">
        <a class="font-title Lexend">PRIMAX</a>
      </div>
      <div class="w-full mt-[-2.7rem]">
        <div class="flex justify-center flex-wrap content-center">
          <img class="absolute" src="assets/img/rectangulo.svg">
        </div>
        <div class="flex justify-center flex-wrap content-center">
          <img class="w-[36.438rem] absolute h-[19.563rem]" src="assets/img/laptop.png">
        </div>
      </div>
      <div class="w-full flex justify-end mt-[14rem]">
        <a class="font-title Lexend text-right">SOLUTIONS</a>
      </div>
    </div>
  </section>

  <section class="section2 py-2 px-4 h-full">

  </section>
</div>
