body{
  font-family: 'Lexend', sans-serif !important;
  scroll-behavior: smooth;
}

html {
  font-family: 'Lexend', sans-serif !important;
  scroll-behavior: smooth;
}

.font-title{
  font-style: normal;
  font-weight: normal;
  font-size: 144px;
  line-height: 180px;
  letter-spacing: 0.19em;
}

.section{
  mix-blend-mode: multiply;
  opacity: 0.85;
}

.section1{
  background: #000000;
  mix-blend-mode: multiply;
  opacity: 0.85;
}

.section2{
  background: #ffff;
  mix-blend-mode: multiply;
  opacity: 0.85;
}

.section3{
  background: #F2F2F2;
  mix-blend-mode: multiply;
  opacity: 0.85;
}

.example-spacer {
  flex: 1 1 auto;
}


.main-header {
  position: fixed;
  top: 4vh;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
  padding-left: 2vw;
  padding-right: 2vw;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
}

.main-menu__logo {
  width: 8rem;
  margin: 0;
  top: 6.8vh;
  left: 3vw;
}



::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background-color: #e9e3e3a6;
  border-radius: 10px;
}
::-webkit-scrollbar{
  width: 8px;
  height: 6px;
  border-radius: 10px;
  background-color: #e2dddde3;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c2baba;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: #222DE9;
  border-radius: 5px;
}

input, select, textarea{
  color: #ffffff;
}

textarea:focus, input:focus {
  color: #ffffff;
}

::placeholder {
  color: #efefef;
}

/* Btn float */
.float{
  position:fixed;
  bottom:40px;
  left:60px;
}

/*color icon*/
.icono{
  background: -moz-linear-gradient(to right, #000000 100%, #626973 100%, #FFFFFF 100%);
  background: -webkit-linear-gradient(to right, #000000 100%, #626973 100%, #FFFFFF 100%);
  background: linear-gradient(to right, #000000 100%, #626973 100%, #FFFFFF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
