<app-toolbar [colorWhite]="colorWhite"></app-toolbar>

<app-loader></app-loader>

<div class="lg:pb-[5rem] 2xl:pb-0">
  <section #slideContent class="lg:pt-28 px-4 flex flex-col justify-center bg-[#F2F4F5] h-screen">
    <!-- <p class="text-right text-sm lexendzetta font-bold text-white hidden lg:block">EN</p> -->
    <div>
      <!-- class="w-[98.5%]" -->
      <app-main-slider></app-main-slider>
    </div>
  </section>

  <section class="py-[5rem] lg:py-[13rem] px-4 bg-white">
    <div class="grid grid-cols-1 lg:grid-cols-3 xl:gap-x-[5rem] border-b border-black pb-[5rem] lg:pb-[13rem]">
      <div
        class="flex flex-row-reverse lg:flex-col justify-between items-center lg:items-start pt-[4rem] lg:pt-0 lg:py-4 pr-[2.5rem] lg:pr-0 order-last lg:order-none">
        <h4 data-aos="fade-right" data-aos-duration="500" class="text-[21px] lexendli">Conócenos</h4>
        <!-- <svg class="ml-[-1rem]" width="102" height="102" viewBox="0 0 142 142" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_3214_14929)">
          <circle cx="71" cy="66" r="51" fill="white"/>
          <path d="M87.1394 65.9947L62.9305 79.9717L62.9305 52.0177L87.1394 65.9947Z" fill="black"/>
          </g>
          <defs>
          <filter id="filter0_d_3214_14929" x="0" y="0" width="142" height="142" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dy="5"/>
          <feGaussianBlur stdDeviation="10"/>
          <feComposite in2="hardAlpha" operator="out"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.15 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_3214_14929"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_3214_14929" result="shape"/>
          </filter>
          </defs>
        </svg> -->
        <!-- <img class="max-w-[102px] ml-[-1rem]" src="assets/img/video_play.png" alt=""> -->
        <lottie-player class="ml-[-4rem]" src="https://assets10.lottiefiles.com/packages/lf20_getcwdyd.json"
          background="transparent" speed="1" style="width: 200px; height: 200px;" hover></lottie-player>
      </div>
      <div class="col-span-2 space-y-[3rem]">
        <h1 data-aos="fade-up" data-aos-duration="500"
          class="text-[28px] lgtext-[40px] xl:text-[46px] lexendzettali leading-[35px] lg:leading-[57.5px]">Generando
          valor y experiencias increíbles para negocios ambiciosos.</h1>
        <h3 data-aos="fade-up" data-aos-duration="500"
          class="text-[21px] lg:text-[30px] xl:text-[36px] lexendli leading-[33.5px] lg:leading-[53.3px]">Esedor es
          una compañía que te
          acompaña en todas las etapas de
          tu proyecto, maximizando tus objetivos de negocio.</h3>
      </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 xl:gap-x-[5rem] pt-[5rem] lg:pt-[13rem]">
      <div
        class="border-b border-black col-span-2 col-end-4 pb-[5rem] lg:pb-[13rem] space-y-[3rem] xl:pr-[4rem] 2xl:pr-[6rem]">
        <div data-aos="fade-right" data-aos-duration="500" class="flex space-x-4 items-center">
          <div class="border-b border-black w-[43px]"></div>
          <p class="text-[13px] lexend">Conozca lo que necesita su negocio</p>
        </div>
        <h1 data-aos="fade-up-right" data-aos-duration="500"
          class="text-[28px] lg:text-[40px] xl:text-[46px] lexendzettali leading-[35px] lg:leading-[57.5px]">¿Cuál es
          tu objetivo final? </h1>
        <h3 data-aos="fade-up" data-aos-duration="500"
          class="text-[21px] lg:text-[30px] xl:text-[36px] lexendli leading-[33.5px] lg:leading-[53.3px]">Permítenos
          ayudarte a cumplirlo con nuestras
          habilidades y
          servicios especializados los acompañaremos en todas las etapas del servicio.</h3>
      </div>

      <div
        class="col-span-2 col-end-4 grid grid-cols-1 lg:grid-cols-2 gap-[.5rem] pt-[5rem] xl:pr-[2rem] 2xl:pr-[3rem]">
        <div [ngClass]="{ 'service-shadow' : item.state}"
          class="flex flex-col justify-between cursor-pointer py-[3rem] px-5 xl:p-[3rem] mobile-shadow arrow"
          *ngFor="let item of servicesItems" (mouseover)="item.state = true" (mouseout)="item.state = false">
          <!-- max-w-[400px] h-[270px]  h-[330px]-->
          <div data-aos="fade-up" data-aos-duration="500" class="space-y-[2rem]">
            <p class="lexendzettali text-[24px] leading-[35.8px] {{item.length}}">{{item.title}}</p>
            <h4 class="lexendli text-[21px] leading-[33.6px]">{{item.text}}</h4>
          </div>
          <button data-aos="fade-right" data-aos-duration="500"
            class="lexendli text-[21px] flex items-center mt-auto pt-6"
            [ngClass]="{ 'lg:text-[#5682FF] lg:font-bold' : item.state}">
            <svg [ngClass]="{ 'arrow-rotate' : item.state}"
              class="transition duration-700 ease-in-out w-[20px] lg:w-auto mr-5" width="33" height="31"
              viewBox="0 0 33 31" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g>
                <line x1="5.7105e-09" y1="14.7539" x2="30.6479" y2="14.7539" stroke="black" stroke-width="2" />
                <path d="M16.2585 1.00146L30.5917 15.2188L16.2585 29.436" stroke="black" stroke-width="2" />
              </g>
            </svg>
            <!-- <img [ngClass]="{ 'arrow-rotate' : item.state}"
              class="w-[31px] mr-5 translate-x-0 transition duration-700 ease-in-out" src="assets/img/arrow-black.png"
              alt=""> -->
            Saber más
          </button>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="bg-[#EE6F57] h-screen flex justify-center items-center icon-video">
    <mat-icon class="text-white text-[84px] w-[84px] h-[84px]">play_circle</mat-icon>
  </section> -->

  <section class="bg-[#141C26] px-4">
    <!-- pt-[9rem] lg:pt-[20rem] -->
    <!-- <div class="border-b-[1px] border-white pb-2 flex flex-col-reverse md:flex-row lg:items-end justify-between">
      <div class="flex items-center pt-12 lg:pt-0">
        <img #arrow class="w-[48px] lg:w-auto" src="assets/img/arrow-right.png" alt="">
        <a class="text-[21px] lg:text-[36px] lexend text-white ml-5">Quienes somos</a>
      </div>
      <div class="lg:w-[65%] space-y-5 lg:space-y-8">
        <h1 class=" quote text-[18px] lg:text-[40px] 2xl:text-[49px] lexendzetta text-white">Creamos
          experiencias. Generando
          impacto. <br>
          Para marcas ambiciosas.</h1>
        <h4 class="hidentext text-[14.5px] lg:text-[21px] lexendli text-white lg:w-[85%]">Colaboramos en compañías
          ambiciosas para
          crear experiencias <br>
          digitales en millones de usuarios de todo el mundo.</h4>
      </div>
    </div> -->
    <div
      class=" border-b-[1px] border-white space-y-7 lg:space-y-0 flex flex-col lg:flex-row items-start lg:items-end justify-end lg:justify-between h-[190px] lg:h-[250px]">
      <div class="flex flex-col lg:flex-row lg:items-end justify-between w-full space-y-[2rem] lg:space-y-0">
        <div class="text-[42px] lg:text-[96px] type-family text-white flex textleft">
          <div data-aos="fade-down-right" data-aos-duration="1000">P</div>
          <div data-aos="fade-down-right" data-aos-duration="1050">r</div>
          <div data-aos="fade-down-right" data-aos-duration="1100">o</div>
          <div data-aos="fade-down-right" data-aos-duration="1150">y</div>
          <div data-aos="fade-down-right" data-aos-duration="1200">e</div>
          <div data-aos="fade-down-right" data-aos-duration="1250">c</div>
          <div data-aos="fade-down-right" data-aos-duration="1300">t</div>
          <div data-aos="fade-down-right" data-aos-duration="1350">o</div>
          <div data-aos="fade-down-right" data-aos-duration="1400">s</div>
          <!-- class="border-b-[1px] border-white space-y-7 lg:space-y-0 flex flex-col lg:flex-row items-start lg:items-end justify-end lg:justify-between h-[190px] lg:h-[250px]">
       lg:h-[600px]
      <div class="flex flex-col lg:flex-row lg:items-end justify-between w-full space-y-[1.5rem] lg:space-y-0">
        <div class="text-[42px] lg:text-[96px] type-family text-white">
          <div data-aos="fade-down-right" data-aos-duration="1400" class="absolute left-[80%] lg:left-[53%]">s</div>
          <div data-aos="fade-down-right" data-aos-duration="1350" class="absolute left-[68%] lg:left-[46%]">o</div>
          <div data-aos="fade-down-right" data-aos-duration="1300" class="absolute left-[61%] lg:left-[41%]">t</div>
          <div data-aos="fade-down-right" data-aos-duration="1250" class="absolute left-[52%] lg:left-[34%]">c</div>
          <div data-aos="fade-down-right" data-aos-duration="1200" class="absolute left-[42%] lg:left-[27%]">e</div>
          <div data-aos="fade-down-right" data-aos-duration="1150" class="absolute left-[32%] lg:left-[20%]">y</div>
          <div data-aos="fade-down-right" data-aos-duration="1100" class="absolute left-[22%] lg:left-[13%]">o</div>
          <div data-aos="fade-down-right" data-aos-duration="1050" class="absolute left-[13%] lg:left-[7.5%]">r</div>
          <div data-aos="fade-down-right" data-aos-duration="1000" class="ml-[-5px] lg:ml-[-15px]">P</div>-->
        </div>
        <!-- <div >
          <img class="translate-x-0 transition duration-700 ease-in-out" src="assets/img/short-arrow-right.png" alt="" [ngClass]="{ 'arrow-rotate' : arrowRotate}">
          <p class="text-[21px] lg:text-[21px] lexend text-white ml-5">Ver proyectos</p> routerLink="/proyectos"
        </div> -->
        <button (click)="redirectProject()"
          class="flex items-center lg:justify-end pb-4 lg:p-[15px] transition duration-700 ease-in-out btn-hover"
          (mouseover)="arrowRotate = true" (mouseout)="arrowRotate = false">
          <img class="w-[31px] lg:w-auto translate-x-0 transition duration-700 ease-in-out"
            src="assets/img/short-arrow-right.png" alt="" [ngClass]="{ 'arrow-rotate' : arrowRotate}">
          <p class="text-[21px] lg:text-[21px] lexendli text-white ml-5">Ver proyectos</p>
        </button>
      </div>

    </div>
    <div class="pt-[5rem] pb-[20rem] ml-[-10px]">
      <app-projects-slide></app-projects-slide>
    </div>
  </section>

  <section class="bg-[#5682FF] pb-[9rem]">
    <div
      class="lg:border-b-[1px] border-white flex flex-col lg:flex-row justify-between space-y-8 lg:space-y-0 px-4 py-[5rem] lg:pt-[8rem] lg:pb-[6.5rem]">
      <p data-aos="fade-right" data-aos-duration="500" class="text-[22px] lg:text-[28px] lexendli text-[#FFFFFF] mt-3">
        Confían en nosotros</p>
      <h1 data-aos="fade-up" data-aos-duration="500"
        class="text-[28px] lg:text-[40px] xl:text-[46px] lexendzettali text-[#FFFFFF] lg:w-[60%] leading-[35px] lg:leading-[57px]">
        Esedor te acompaña en todas las etapas de tu proyecto, maximizando tus objetivos de negocio. </h1>
    </div>
    <app-allies [displayElement]="displayElement"></app-allies>
  </section>

  <section class="grid grid-cols-1 lg:grid-cols-4 items-center h-[1024px] bg-[#141C26] px-4 lg:px-0">
    <img src="assets/img/tornillo.png" alt="">
    <div
      class="col-span-3 grid grid-cols-1 lg:grid-cols-3 pb-[4rem] lg:pt-[8rem] 2xl:pt-[10rem] lg:pb-[5rem] 2xl:pb-[7rem] text-white">
      <h3 class="lexendli text-[18px] lg:text-[21px] pb-8 lg:pb-[5rem] 2xl:pb-[8rem] lg:col-span-2 ">Trainee impact</h3>
      <div class="space-y-8 lg:space-y-[4rem] 2xl:space-y-[6rem] lg:col-span-2 ">
        <h1 class="text-[28px] lg:text-[36px] xl:text-[46px] leading-[35px] lg:leading-[57.5px] ">¿Buscas una manera de
          comenzar tu carrera? </h1>
        <h4 class="lexendli text-[18px] xl:text-[21px] leading-[25.6px] lg:leading-[33.6px]">Ven y únete a nuestro
          Programa Trainee y desarrolla tu potencial en 6 meses. ¡Será una experiencia increíble! No sólo ofrecemos
          habilidades prácticas, sino también tutoría de personas realmente talentosas en un entorno increíble centrado
          en las personas, mientras pone sus manos en proyectos reales junto con nuestro equipo calificado de Diseño y
          Desarrollo de Productos en Zemoga.</h4>
        <h4 class="lexendli text-[18px] xl:text-[21px] leading-[25.6px] lg:leading-[33.6px]">Envia
          tu CV y datos personales:</h4>

      </div>
      <p class="lexendzettali text-[32px] pt-[2rem] col-span-2 hidden lg:block">talento@esedor.com</p>
    </div>
  </section>

  <!-- <section
    class="bg-[#141C26] flex flex-col lg:flex-row space-y-[167px] lg:space-y-0 lg:justify-between px-4 pb-[5rem] lg:py-[12rem]">
    <div class="inline-block ml-[-15px]">
      <div class="text-[64px] lg:text-[96px] type-family text-[#FFFFFF] flex text-left">
        <div data-aos="fade-down-right" data-aos-duration="1000">B</div>
        <div data-aos="fade-down-right" data-aos-duration="1100">l</div>
        <div data-aos="fade-down-right" data-aos-duration="1200">o</div>
        <div data-aos="fade-down-right" data-aos-duration="1300">g</div>
      </div>
    </div>

    <div class="inline-block lg:w-[50%] xl:w-[40%] space-y-[2.5rem] lg:space-y-24 lg:pt-8">
      <div class="relative flex cursor-pointer" (mouseover)="bgBlog = true" (mouseout)="bgBlog = false">
        <div class="w-[10px] h-[165px] lg:h-[222px] bg-transparent transition-all duration-500 ease-linear"
          [ngClass]="{ 'bg-blog' : bgBlog}"></div>
        <div data-aos="fade-right" data-aos-duration="500"
          class="border-l border-white px-4 py-2 absolute lg:h-[222px] flex flex-col">
          <div class="flex justify-between text-sm text-white">
            <p class="lexendb">01.10.21</p>
            <p class="lexend">Ver más</p>
          </div>
          <h3 class="text-[16px] lg:text-[36px] lexendli text-[#FFFFFF] pt-5 pb-3">La democratización del diseño:
            “Design
            Systems”</h3>
          <svg [ngClass]="{ 'arrow-rotate' : bgBlog}"
            class="transition duration-700 ease-in-out w-[31px] lg:w-[52px] lg:h-[46px] mt-auto" width="33" height="31"
            viewBox="0 0 33 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
              <line x1="5.7105e-09" y1="14.7539" x2="30.6479" y2="14.7539" stroke="white" stroke-width="2" />
              <path d="M16.2585 1.00146L30.5917 15.2188L16.2585 29.436" stroke="white" stroke-width="2" />
            </g>
          </svg>
        </div>
      </div>

      <div class="relative flex cursor-pointer" (mouseover)="bgBlogTwo = true" (mouseout)="bgBlogTwo = false">
        <div class="w-[10px] h-[165px] lg:h-[222px] bg-transparent transition-all duration-500 ease-linear"
          [ngClass]="{ 'bg-blog' : bgBlogTwo}"></div>
        <div data-aos="fade-right" data-aos-duration="500"
          class="border-l border-white px-4 py-2 absolute lg:h-[222px] flex flex-col">
          <div class="flex justify-between text-sm text-white">
            <p class="lexendb">01.10.21</p>
            <p class="lexend">Ver más</p>
          </div>
          <h3 class="text-[16px] lg:text-[36px] lexendli text-[#FFFFFF] pt-5 pb-3">La experiencia de usuario en los
            chatbots
          </h3>
          <svg [ngClass]="{ 'arrow-rotate' : bgBlogTwo}"
            class="transition duration-700 ease-in-out w-[31px] lg:w-[52px] lg:h-[46px] mt-auto" width="33" height="31"
            viewBox="0 0 33 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
              <line x1="5.7105e-09" y1="14.7539" x2="30.6479" y2="14.7539" stroke="white" stroke-width="2" />
              <path d="M16.2585 1.00146L30.5917 15.2188L16.2585 29.436" stroke="white" stroke-width="2" />
            </g>
          </svg>
        </div>
      </div>

      <div class="relative flex cursor-pointer" (mouseover)="bgBlogThree = true" (mouseout)="bgBlogThree = false">
        <div class="w-[10px] h-[165px] lg:h-[222px] bg-transparent transition-all duration-500 ease-linear"
          [ngClass]="{ 'bg-blog' : bgBlogThree}"></div>
        <div data-aos="fade-right" data-aos-duration="500"
          class="border-l border-white px-4 py-2 absolute lg:h-[222px] flex flex-col">
          <div class="flex justify-between text-sm text-white">
            <p class="lexendb">01.10.21</p>
            <p class="lexend">Ver más</p>
          </div>
          <h3 class="text-[16px] lg:text-[36px] lexendli text-[#FFFFFF] pt-5 pb-3">La experiencia de usuario en los
            chatbots
          </h3>
          <svg [ngClass]="{ 'arrow-rotate' : bgBlogThree}"
            class="transition duration-700 ease-in-out w-[31px] lg:w-[52px] lg:h-[46px] mt-auto" width="33" height="31"
            viewBox="0 0 33 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g>
              <line x1="5.7105e-09" y1="14.7539" x2="30.6479" y2="14.7539" stroke="white" stroke-width="2" />
              <path d="M16.2585 1.00146L30.5917 15.2188L16.2585 29.436" stroke="white" stroke-width="2" />
            </g>
          </svg>
        </div>
      </div>
    </div>
  </section> -->

  <app-lets-talk (letsForm)="showFormEvent()"></app-lets-talk>

  <app-footer></app-footer>

  <div *ngIf="showForm">
    <app-contact-dashboard (closeForm)="closeFormEvent()"></app-contact-dashboard>
  </div>


</div>

<!--Seccion Start project-->
<!-- <footer class="section py-2 px-4 flex flex-col content-center justify-between lg:h-screen"
 style="background: linear-gradient(to top, #193EFF 0%, #8B99E4 100%); min-height: 800px;">
 <div class="pt-40" *ngIf="paso1">
   <h1
     class="text-center text-[24px] lg:text-[49px] lexendzetta text-[#FFFFFF] lg:w-[70%] mx-auto leading-[30px] lg:leading-[61px]">
     Iniciemos un
     proyecto</h1>
   <div>
     <div class="flex flex-wrap lg:justify-center space-y-4 lg:space-y-0 lg:space-x-4 mt-20">
       <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-full lg:w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] lexend">Diseño de una web</span>
       </div>
       <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-full lg:w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] lexend">Un sistema completo</span>
       </div>
       <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-full lg:w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] lexend">Sistema de diseño</span>
       </div>
     </div>
     <div class="flex flex-wrap justify-center mt-4 space-y-4 lg:space-y-0 lg:space-x-4">
       <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-full lg:w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] lexend">Branding</span>
       </div>
       <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-full lg:w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] lexend">Proyecto Start-Up</span>
       </div>
     </div>
   </div>
   <p class="text-center lexend text-sm text-white pt-12">También puedes escribirnos directamente a</p>
   <p class="text-center lexendb text-sm text-white">hola@esedor.com</p>

 </div> -->


<!--Paso1-->
<!-- <div class="w-full mt-10" *ngIf="paso1">
   <div class="flex justify-center">
     <div class="text-white w-[36rem]">
       <p style="letter-spacing: 0.0015rem;" class="text-center text-[0.875rem] lexendb mb-10">Iniciemos un proyecto
       </p>
       <h2 style="font-size: 35px;line-height: 44px;font-family: Lexend; text-align: center">Conversemos, selecciona
         una de las opciones y te tomemos un café</h2>
     </div>
   </div>

   <div>
     <div class="flex justify-center space-x-4 mt-20">
       <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] lexend">Diseño de una web</span>
       </div>
       <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] lexend">Un sistema completo</span>
       </div>
       <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] lexend">Sistema de diseño</span>
       </div>
     </div>
     <div class="flex justify-center mt-4 space-x-4">
       <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] lexend">Branding</span>
       </div>
       <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] lexend">Proyecto Start-Up</span>
       </div>
     </div>
   </div>

   <div class="Lexend text-white text-center mt-10">
     <p class="text-[1.3rem]">Tambien puedes escribirnos directamente a</p>
     <p>hola@esedor.com</p>
   </div>
 </div> -->

<!--Paso2-->
<!-- <div class="w-full" *ngIf="paso2">
   <div class="flex justify-center">
     <div class="text-white w-[36rem]">
       <p style="letter-spacing: 0.0015em;" class="text-center">Iniciemos un proyecto</p>
       <h2 style="font-size: 35px;line-height: 44px;font-family: Lexend; text-align: center">Conversemos, selecciona
         una de las opciones y te tomemos un café</h2>
     </div>
   </div>
   <div>
     <div class="flex justify-center space-x-4 mt-20">
       <div (click)="paso2 = false; paso3 = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] lexend">US$ 2,500 - 10,000</span>
       </div>
       <div (click)="paso2 = false; paso3 = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] lexend">US$ 10,000 - 30,000</span>
       </div>
       <div (click)="paso2 = false; paso3 = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] lexend">US$ 30,000 -50,000</span>
       </div>
     </div>

     <div class="flex justify-center mt-4 space-x-4">
       <div (click)="paso2 = false; paso3 = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] lexend">US$ 50,000 -75,000</span>
       </div>
       <div (click)="paso2 = false; paso3 = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] lexend">US$ 75,000 +</span>
       </div>
     </div>
   </div>
   <div class="Lexend text-white text-center mt-10">
     <p class="text-[1.3rem] lexend">Tambien puedes escribirnos directamente a</p>
     <p class="lexend">hola@esedor.com</p>
   </div>
 </div> -->

<!--Paso3-->
<!-- <div class="w-full" *ngIf="paso3">
   <div class="flex justify-center">
     <div class="text-white w-[36rem]">
       <p style="letter-spacing: 0.0015em;" class="text-center">Iniciemos un proyecto</p>
       <h2 style="font-size: 35px;line-height: 44px;font-family: 'Lexend', sans-serif; text-align: center">Por donde
         esuchaste sobre Esedor</h2>
     </div>
   </div>
   <div>
     <div class="flex justify-center space-x-4 mt-20">
       <div (click)="paso3 = false; formulario = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] Lexend">Awwwards</span>
       </div>
       <div (click)="paso3 = false; formulario = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] Lexend">CCL</span>
       </div>
       <div (click)="paso3 = false; formulario = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] Lexend">ADEX</span>
       </div>
     </div>

     <div class="flex justify-center mt-4 space-x-4">
       <div (click)="paso3 = false; formulario = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] Lexend">Blog</span>
       </div>
       <div (click)="paso3 = false; formulario = true" style="border-radius: 12px;"
         class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
         <span class="text[#626973] Lexend">Eventos</span>
       </div>
     </div>
   </div>

   <div class="Lexend text-white text-center mt-10">
     <p class="text-[1.3rem]">Tambien puedes escribirnos directamente a</p>
     <p>hola@esedor.com</p>
   </div>
 </div> -->

<!--Formulario-->
<!-- <div class="w-full" *ngIf="formulario">
   <div class="flex justify-center">
     <div class="text-white w-[36rem]">
       <p style="letter-spacing: 0.0015em;" class="text-center">Iniciemos un proyecto</p>
       <h2 style="font-size: 35px;line-height: 44px;font-family: 'Lexend', sans-serif; text-align: center">Por donde
         esuchaste sobre Esedor</h2>
     </div>
   </div>
   <div class="flex justify-center">
     <div class="">

       <div class="flex justify-between space-x-4">
         <mat-form-field appearance="outline" class="w-[20rem]">
           <mat-label class="text-white"> Nombres </mat-label>
           <input matInput>
         </mat-form-field>

         <mat-form-field appearance="outline" class="w-[20rem]">
           <mat-label class="text-white"> Apellidos </mat-label>
           <input matInput>
         </mat-form-field>
       </div>

       <div class="flex justify-between">
         <mat-form-field appearance="outline" class="w-[20rem]">
           <mat-label class="text-white"> Dirección de correo electrónico </mat-label>
           <input matInput>
         </mat-form-field>

         <mat-form-field appearance="outline" class="w-[20rem]">
           <mat-label class="text-white"> Número de teléfono o celular </mat-label>
           <input matInput>
         </mat-form-field>
       </div>

       <div class="flex justify-between">
         <mat-form-field appearance="outline" class="w-[20rem]">
           <mat-label class="text-white"> Empresa y cargo </mat-label>
           <input matInput>
         </mat-form-field>

         <mat-form-field appearance="outline" class="w-[20rem]">
           <mat-label class="text-white"> Tiempo de entrega </mat-label>
           <input matInput>
         </mat-form-field>
       </div>
       <div class="col-start-1 col-end-2 w-full">
         <mat-form-field appearance="outline" class="w-full">
           <mat-label class="text-white"> Describe tu proyecto aquí... </mat-label>
           <textarea matInput></textarea>
         </mat-form-field>
       </div>
     </div>
   </div>

   <div class="Lexend text-white text-center mt-10">
     <p class="text-[1.3rem]">Tambien puedes escribirnos directamente a</p>
     <p>hola@esedor.com</p>
   </div>
 </div>

 <div class="flex justify-between">
   <div class="text-white lexend text-[13px]">
     <p>Ubicación</p>
     <p class="leading-[16px] pt-4 pb-8">
       Swiss Tower <br>
       Av. Alfredo Benavides <br>
       #1944 – Piso 9 <br>
       Miraflores, Lima
     </p>
     <p>Esedor © 2022</p>
   </div>
   <div class="text-[13px] lexend font-medium text-white space-y-2 pb-2 flex flex-col justify-end">
     <p>LINKEDIN</p>
     <p>FACEBOOK</p>
     <p>INSTAGRAM</p>
     <p>YOUTUBE</p>
   </div>
 </div>

</footer> -->
