<app-toolbar [colorWhite]="colorWhite"></app-toolbar>
<div>
  <section #slideContent class="pt-28 px-4 lg:h-screen flex justify-center lg:block"
    style="background: linear-gradient(to bottom, #193EFF 0%, #8B99E4 100%); min-height: 720px;">
    <p class="text-right text-sm lexendzetta font-bold text-white hidden lg:block">EN</p>
    <div>
      <app-main-slider></app-main-slider>
    </div>
    <!-- <div class="w-full hidden lg:flex justify-center pb-[4rem]">
      <button id="prev" (click)="prevElement()"
        class="py-3 px-4 text-white border-b-[1px] border-white focus:border-b-[2px] w-[100px] text-left">01</button>
      <button id="next" (click)="nextElement()"
        class="py-3 px-4 text-white border-b-[1px] border-white focus:border-b-[2px] w-[100px] text-right">02</button>
    </div> -->
  </section>

  <section class="bg-[#EE6F57] h-screen flex justify-center items-center icon-video">
    <mat-icon class="text-white text-[84px] w-[84px] h-[84px]">play_circle</mat-icon>
    <!-- <div class="box green" #box> hola</div>
  <div class="box orange">que</div>
  <div class="box grey">bye</div> -->
  </section>

  <section class="bg-[#141C26] pt-[9rem] lg:pt-[20rem] px-4">
    <div class="border-b-[1px] border-white pb-2 flex flex-col-reverse md:flex-row lg:items-end justify-between">
      <div class="flex items-center pt-12 lg:pt-0">
        <!-- (mouseover)="hoverArrow()" (mouseout)="hoverArrowOut()" -->
        <img #arrow class="w-[48px] lg:w-auto" src="assets/img/arrow-right.png" alt="">
        <a class="text-[21px] lg:text-[36px] lexend text-white ml-5">Quienes somos</a>
      </div>
      <div class="lg:w-[65%] space-y-5 lg:space-y-8">
        <h1 class=" quote text-[18px] lg:text-[40px] 2xl:text-[49px] lexendzetta text-white">Creamos
          experiencias. Generando
          impacto. <br>
          Para marcas ambiciosas.</h1>
        <h4 class="hidentext text-[14.5px] lg:text-[21px] lexendli text-white lg:w-[85%]">Colaboramos en compañías
          ambiciosas para
          crear experiencias <br>
          digitales en millones de usuarios de todo el mundo.</h4>
      </div>
    </div>
    <div
      class=" border-b-[1px] border-white space-y-7 lg:space-y-0 flex flex-col lg:flex-row items-start lg:items-end justify-end lg:justify-between h-[300px] lg:h-[600px]">
      <div class="flex items-center justify-between w-full">
        <div class="text-[42px] lg:text-[96px] lexendzetta text-white">

          <div data-aos="fade-down-right" data-aos-duration="2600" class="absolute lg:block hidden left-[53%]">s</div>
          <div data-aos="fade-down-right" data-aos-duration="2400" class="absolute lg:block hidden left-[46%]">o</div>
          <div data-aos="fade-down-right" data-aos-duration="2200" class="absolute lg:block hidden left-[41%]">t</div>
          <div data-aos="fade-down-right" data-aos-duration="2000" class="absolute lg:block hidden left-[34%]">c</div>
          <div data-aos="fade-down-right" data-aos-duration="1800" class="absolute lg:block hidden left-[27%]">e</div>
          <div data-aos="fade-down-right" data-aos-duration="1600" class="absolute lg:block hidden left-[20%]">y</div>
          <div data-aos="fade-down-right" data-aos-duration="1400" class="absolute lg:block hidden left-[13%]">o</div>
          <div data-aos="fade-down-right" data-aos-duration="1200" class="absolute lg:block hidden left-[7.5%]">r</div>
          <div data-aos="fade-down-right" data-aos-duration="1000" class="ml-[-15px]">P</div>


        </div>
        <div class="flex items-center lg:justify-end pb-4 lg:pb-1" (mouseover)="arrowRotate = true" (mouseout)="arrowRotate = false">
          <!-- vamo probando-bg -->
          <img class="translate-x-0 transition duration-700 ease-in-out" src="assets/img/short-arrow-right.png" alt="" [ngClass]="{ 'arrow-rotate' : arrowRotate}">
          <!-- w-[48px] lg:w-auto -->
          <p class="text-[21px] lg:text-[21px] lexend text-white ml-5">Ver proyectos</p>
        </div>
      </div>
      
    </div>
    <div class="pt-[5rem] pb-[20rem] ml-[-10px]">
      <app-projects-slide></app-projects-slide>
    </div>
  </section>

  <section class="bg-[#5682FF] px-4">
    <!-- lg:h-screen -->
    <div class="flex items-end h-[450px]">
      <div class="lg:border-b-[1px] border-white flex flex-col lg:flex-row justify-between space-y-24 lg:space-y-0">
        <p class="text-[22px] lg:text-[28px] lexendzetta text-[#FFFFFF] mt-3">Nuestros <br> clientes</p>
        <h1 class="text-[28px] lg:text-[46px] lexendzetta text-[#FFFFFF] lg:w-[60%] leading-[35px] lg:leading-[57px]">
          Amet minim mollit non deserunt ullamco
          est sit aliqua dolor do </h1>
      </div>
    </div>
    <div class="h-[400px] flex flex-wrap justify-between items-center">
      <div class="contenedor" (mouseover)="probar = true" (mouseout)="probar = false">
        <img src="assets/img/logo_empresa/niubiz.png" alt="" [ngClass]="{'bottom' : probar}">
        <img src="assets/img/logo_empresa/caja-cusco.png" alt="" [ngClass]="{'top' : !probar}">
      </div>

      <img src="assets/img/logo_empresa/primax.png" alt="">
      <img src="assets/img/logo_empresa/redeban.png" alt="">
      <img src="assets/img/logo_empresa/ripley.png" alt="">
      <img src="assets/img/logo_empresa/caja-cusco.png" alt="">

    </div>
    <!--
    <div class="contenedor">
      <img src="http://programandoointentandolo.com/ejemplos/imagenes/cubo/img1.png" />
      <img class="top" src="http://programandoointentandolo.com/ejemplos/imagenes/cubo/img6.png" />
  </div> -->
  </section>

  <section
    class="bg-[#000000] flex flex-col lg:flex-row space-y-[167px] lg:space-y-0 lg:justify-between px-4 pt-[20rem] pb-40">
    <!-- id="parallax" -->
    <div class="inline-block ml-[-15px]">
      <p class="text-[64px] lg:text-[96px] lexendzetta text-[#FFFFFF]">Blog</p>
    </div>
    <div class="inline-block lg:w-[40%] space-y-24 pt-8">

      <div class="relative flex cursor-pointer" (mouseover)="bgBlog = true" (mouseout)="bgBlog = false">
        <div class="w-[10px] h-[222px] bg-transparent transition-all duration-500 ease-linear"
          [ngClass]="{ 'bg-blog' : bgBlog}"></div>
        <div class="border-l border-white px-4 py-2 absolute">
          <div class="flex justify-between text-sm text-white">
            <p class="lexendb">01.10.21</p>
            <p class="lexend">Ver más</p>
          </div>
          <h3 class="text-[16px] lg:text-[36px] lexend text-[#FFFFFF] pt-5 pb-3">La democratización del diseño: “Design
            Systems”</h3>
          <img class="translate-x-0 transition duration-700 ease-in-out" src="assets/img/short-arrow-right.png" alt=""
            [ngClass]="{ 'arrow-rotate' : bgBlog }">
        </div>
        <!--  (mouseover)="hoverArrow()" (mouseout)="hoverArrowOut()" -->
      </div>

      <div class="relative flex cursor-pointer" (mouseover)="bgBlogTwo = true" (mouseout)="bgBlogTwo = false">
        <div class="w-[10px] h-[222px] bg-transparent transition-all duration-500 ease-linear"
          [ngClass]="{ 'bg-blog' : bgBlogTwo}"></div>
        <div class="border-l border-white px-4 py-2 absolute">
          <div class="flex justify-between text-sm text-white">
            <p class="lexendb">01.10.21</p>
            <p class="lexend">Ver más</p>
          </div>
          <h3 class="text-[16px] lg:text-[36px] lexend text-[#FFFFFF] pt-5 pb-3">La experiencia de usuario en los
            chatbots
          </h3>
          <img class="translate-x-0 transition duration-700 ease-in-out" src="assets/img/short-arrow-right.png" alt=""
            [ngClass]="{ 'arrow-rotate' : bgBlogTwo }">
        </div>
      </div>

    </div>
  </section>

  <!--Seccion Start project-->
  <footer class="section py-2 px-4 flex flex-col content-center justify-between lg:h-screen"
    style="background: linear-gradient(to top, #193EFF 0%, #8B99E4 100%); min-height: 800px;">
    <div class="pt-40" *ngIf="paso1">
      <h1
        class="text-center text-[24px] lg:text-[49px] lexendzetta text-[#FFFFFF] lg:w-[70%] mx-auto leading-[30px] lg:leading-[61px]">
        Iniciemos un
        proyecto</h1>
      <div>
        <div class="flex flex-wrap lg:justify-center space-y-4 lg:space-y-0 lg:space-x-4 mt-20">
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-full lg:w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Diseño de una web</span>
          </div>
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-full lg:w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Un sistema completo</span>
          </div>
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-full lg:w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Sistema de diseño</span>
          </div>
        </div>
        <div class="flex flex-wrap justify-center mt-4 space-y-4 lg:space-y-0 lg:space-x-4">
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-full lg:w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Branding</span>
          </div>
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-full lg:w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Proyecto Start-Up</span>
          </div>
        </div>
      </div>
      <p class="text-center lexend text-sm text-white pt-12">También puedes escribirnos directamente a</p>
      <p class="text-center lexendb text-sm text-white">hola@esedor.com</p>

    </div>


    <!--Paso1-->
    <!-- <div class="w-full mt-10" *ngIf="paso1">
      <div class="flex justify-center">
        <div class="text-white w-[36rem]">
          <p style="letter-spacing: 0.0015rem;" class="text-center text-[0.875rem] lexendb mb-10">Iniciemos un proyecto
          </p>
          <h2 style="font-size: 35px;line-height: 44px;font-family: Lexend; text-align: center">Conversemos, selecciona
            una de las opciones y te tomemos un café</h2>
        </div>
      </div>

      <div>
        <div class="flex justify-center space-x-4 mt-20">
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Diseño de una web</span>
          </div>
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Un sistema completo</span>
          </div>
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Sistema de diseño</span>
          </div>
        </div>
        <div class="flex justify-center mt-4 space-x-4">
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Branding</span>
          </div>
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Proyecto Start-Up</span>
          </div>
        </div>
      </div>

      <div class="Lexend text-white text-center mt-10">
        <p class="text-[1.3rem]">Tambien puedes escribirnos directamente a</p>
        <p>hola@esedor.com</p>
      </div>
    </div> -->

    <!--Paso2-->
    <div class="w-full" *ngIf="paso2">
      <div class="flex justify-center">
        <div class="text-white w-[36rem]">
          <p style="letter-spacing: 0.0015em;" class="text-center">Iniciemos un proyecto</p>
          <h2 style="font-size: 35px;line-height: 44px;font-family: Lexend; text-align: center">Conversemos, selecciona
            una de las opciones y te tomemos un café</h2>
        </div>
      </div>
      <div>
        <div class="flex justify-center space-x-4 mt-20">
          <div (click)="paso2 = false; paso3 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">US$ 2,500 - 10,000</span>
          </div>
          <div (click)="paso2 = false; paso3 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">US$ 10,000 - 30,000</span>
          </div>
          <div (click)="paso2 = false; paso3 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">US$ 30,000 -50,000</span>
          </div>
        </div>

        <div class="flex justify-center mt-4 space-x-4">
          <div (click)="paso2 = false; paso3 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">US$ 50,000 -75,000</span>
          </div>
          <div (click)="paso2 = false; paso3 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">US$ 75,000 +</span>
          </div>
        </div>
      </div>
      <div class="Lexend text-white text-center mt-10">
        <p class="text-[1.3rem] lexend">Tambien puedes escribirnos directamente a</p>
        <p class="lexend">hola@esedor.com</p>
      </div>
    </div>

    <!--Paso3-->
    <div class="w-full" *ngIf="paso3">
      <div class="flex justify-center">
        <div class="text-white w-[36rem]">
          <p style="letter-spacing: 0.0015em;" class="text-center">Iniciemos un proyecto</p>
          <h2 style="font-size: 35px;line-height: 44px;font-family: 'Lexend', sans-serif; text-align: center">Por donde
            esuchaste sobre Esedor</h2>
        </div>
      </div>
      <div>
        <div class="flex justify-center space-x-4 mt-20">
          <div (click)="paso3 = false; formulario = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] Lexend">Awwwards</span>
          </div>
          <div (click)="paso3 = false; formulario = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] Lexend">CCL</span>
          </div>
          <div (click)="paso3 = false; formulario = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] Lexend">ADEX</span>
          </div>
        </div>

        <div class="flex justify-center mt-4 space-x-4">
          <div (click)="paso3 = false; formulario = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] Lexend">Blog</span>
          </div>
          <div (click)="paso3 = false; formulario = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] Lexend">Eventos</span>
          </div>
        </div>
      </div>

      <div class="Lexend text-white text-center mt-10">
        <p class="text-[1.3rem]">Tambien puedes escribirnos directamente a</p>
        <p>hola@esedor.com</p>
      </div>
    </div>

    <!--Formulario-->
    <div class="w-full" *ngIf="formulario">
      <div class="flex justify-center">
        <div class="text-white w-[36rem]">
          <p style="letter-spacing: 0.0015em;" class="text-center">Iniciemos un proyecto</p>
          <h2 style="font-size: 35px;line-height: 44px;font-family: 'Lexend', sans-serif; text-align: center">Por donde
            esuchaste sobre Esedor</h2>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="">

          <div class="flex justify-between space-x-4">
            <mat-form-field appearance="outline" class="w-[20rem]">
              <mat-label class="text-white"> Nombres </mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-[20rem]">
              <mat-label class="text-white"> Apellidos </mat-label>
              <input matInput>
            </mat-form-field>
          </div>

          <div class="flex justify-between">
            <mat-form-field appearance="outline" class="w-[20rem]">
              <mat-label class="text-white"> Dirección de correo electrónico </mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-[20rem]">
              <mat-label class="text-white"> Número de teléfono o celular </mat-label>
              <input matInput>
            </mat-form-field>
          </div>

          <div class="flex justify-between">
            <mat-form-field appearance="outline" class="w-[20rem]">
              <mat-label class="text-white"> Empresa y cargo </mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-[20rem]">
              <mat-label class="text-white"> Tiempo de entrega </mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-start-1 col-end-2 w-full">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="text-white"> Describe tu proyecto aquí... </mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="Lexend text-white text-center mt-10">
        <p class="text-[1.3rem]">Tambien puedes escribirnos directamente a</p>
        <p>hola@esedor.com</p>
      </div>
    </div>

    <div class="flex justify-between">
      <div class="text-white lexend text-[13px]">
        <p>Ubicación</p>
        <p class="leading-[16px] pt-4 pb-8">
          Swiss Tower <br>
          Av. Alfredo Benavides <br>
          #1944 – Piso 9 <br>
          Miraflores, Lima
        </p>
        <p>Esedor © 2022</p>
      </div>
      <div class="text-[13px] lexend font-medium text-white space-y-2 pb-2 flex flex-col justify-end">
        <p>LINKEDIN</p>
        <p>FACEBOOK</p>
        <p>INSTAGRAM</p>
        <p>YOUTUBE</p>
      </div>
    </div>

  </footer>
</div>