<!--ToolBar-->
<header class="main-header">
  <div class="flex w-full justify-between items-center">
    <div class="main-menu__logo" style="z-index:1000;">
      <a>
        <svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 75.43">
          <defs>
            <style>
              .cls-1 {
                fill: #FFFFFF;
              }
            </style>
          </defs>
          <title>Logo_esedor_2020_blank</title>
          <path class="cls-1"
            d="M283.36,40.61v8.61h-3.9V26.46h6.71c2.76,0,5.52-.05,8.28,0,3.34.07,5.17,2,5.25,5.31,0,.77,0,1.53,0,2.29,0,4.18-.54,4.84-4.44,6.32,1.44,2.2,3.14,4.83,4.74,6.89v1.93h-3.83s-4.11-6.83-5.64-8.6Zm.09-3.57c3.43,0,6.65.09,9.87-.06a2.75,2.75,0,0,0,2.1-1.38,10.26,10.26,0,0,0,0-4.13,2.16,2.16,0,0,0-1.6-1.32c-3.44-.13-6.88-.06-10.38-.06Z" />
          <path class="cls-1"
            d="M250.29,37.66c0-2.06,0-4.11,0-6.17,0-3.26,1.68-5.16,4.87-5.27q6-.21,12,0c3,.12,4.75,1.94,4.82,5q.17,6.51,0,13c-.08,3.24-2.06,5-5.33,5q-5.46,0-10.92,0c-3.54,0-5.38-1.88-5.42-5.47C250.27,41.77,250.29,39.71,250.29,37.66Zm17.62.11c0-1.82,0-3.64,0-5.46s-.72-2.6-2.55-2.63c-2.81-.06-5.64,0-8.45,0-1.61,0-2.53.73-2.52,2.46,0,3.76,0,7.52,0,11.28,0,1.64.87,2.35,2.42,2.36,2.87,0,5.75,0,8.63,0,1.72,0,2.43-.78,2.46-2.52S267.91,39.6,267.91,37.77Z" />
          <path class="cls-1"
            d="M222.12,26.54c5.6,0,11.11-.11,16.61.05a4.2,4.2,0,0,1,4.15,4.26c.16,4.57.17,9.16,0,13.73a4.37,4.37,0,0,1-4.47,4.34c-5.39.11-10.79,0-16.3,0Zm4,18.87c3.7,0,7.21,0,10.73,0A2,2,0,0,0,239,43.12c0-3.58,0-7.16,0-10.74,0-1.19-.54-2.2-1.78-2.24-3.67-.1-7.34,0-11.1,0Z" />
          <path class="cls-1"
            d="M168.7,49V45.42h13.77c1.57,0,2.43-.7,2.43-2.18,0-1.67-.31-2.74-2-3-2.36-.44-4.75-.77-7.12-1.14l-1-.13c-6.4-.89-6.47-3.5-6-8.51a4.29,4.29,0,0,1,4.17-3.9h14.83a.46.46,0,0,1,.46.46v1.54l-2,1.45c-3.23,0-7.28,0-10.51,0-2.19,0-3,.62-3.08,2.28-.11,1.87.57,2.6,2.68,2.94,3,.47,6,.94,9,1.44s4.51,2.22,4.54,5.28c0,.76,0,1.53,0,2.29A4.68,4.68,0,0,1,184.38,49Z" />
          <path class="cls-1"
            d="M161.43,26.91v1.68l-2,1.39H147.35v5.79H158.2V39.3H147.36v6.09h14.12v3.5h-16.8c-.88,0-1.08-.43-1.14-.5s-.33-.33-.33-1.27v-19a1.57,1.57,0,0,1,.33-1.14,1.41,1.41,0,0,1,1.16-.44h16.4A.33.33,0,0,1,161.43,26.91Z" />
          <path class="cls-1"
            d="M214.56,27v1.61l-2,1.39h-12v5.79h10.84V39.3H200.49v6.09h14.12v3.5h-16.8a1.2,1.2,0,0,1-1.14-.5c-.07-.06-.32-.33-.32-1.27v-19a1.53,1.53,0,0,1,.33-1.14,1.39,1.39,0,0,1,1.16-.44h16.33A.39.39,0,0,1,214.56,27Z" />
          <path class="cls-1"
            d="M88.07,13.71H2a1.59,1.59,0,0,1-.55-3.09L30.36.1A1.44,1.44,0,0,1,30.9,0H117a1.59,1.59,0,0,1,.55,3.09L88.61,13.61A1.44,1.44,0,0,1,88.07,13.71Z" />
          <path class="cls-1"
            d="M88.07,75.43H2a1.59,1.59,0,0,1-.55-3.09L30.36,61.82a1.44,1.44,0,0,1,.54-.1H117a1.59,1.59,0,0,1,.55,3.09L88.61,75.33A1.44,1.44,0,0,1,88.07,75.43Z" />
          <path class="cls-1"
            d="M41.22,44.57H2a1.59,1.59,0,0,1-.55-3.09L30.36,31a1.44,1.44,0,0,1,.54-.1H70.12A1.59,1.59,0,0,1,70.67,34L41.76,44.47A1.44,1.44,0,0,1,41.22,44.57Z" />
        </svg>
      </a>
    </div>
    <div class="text-[#FFFFFF] lg:w-[75%]">
      <ul class="flex lexend justify-between space-x-5">
        <li>
          <a (click)="redirectProject()" class="cursor-pointer">Proyectos</a>
        </li>
        <li>
          <a>Nosotros</a>
        </li>
        <li>
          <a>Contacto</a>
        </li>
        <li>
          <mat-icon class="text-[2.5rem] mt-[-0.7rem]">menu</mat-icon>
        </li>
      </ul>
    </div>
  </div>
</header>


<div class="h-full w-full">
  <section class="pt-28 px-3 h-full" style="background: linear-gradient(to bottom, #193EFF 0%, #8B99E4 100%); min-height: 800px;">
    <p class="text-right text-sm lexendzetta font-bold text-white">EN</p>
    <h1 class="text-center text-[49px] lexendzetta text-[#D8D8D8] mb-4">Primax</h1>
    <div class="flex items-center py-40 justify-between">
      <div class="lexendzetta text-[12.5px] text-[#FFFFFF] w-[30%]">
        <p>2021</p>
        <p>Marketplace</p>
        <p>Experiencia de usuario</p>
        <p>Sisema de diseño</p>
        <p>Definición de producto</p>
      </div>
      <div class="flex justify-center">
        <img src="assets/img/rectangle.png" alt="">
        <img src="assets/img/phone.png" class="absolute top-[220px]" alt="">
      </div>
      <div class="w-[30%]">

      </div>
    </div>

  </section>

  <section class="bg-[#EE6F57] h-[800px] flex justify-center items-center">
    <mat-icon class="text-white text-[84px]">play_circle</mat-icon>

  </section>

  <section class="bg-[#141C26] pt-[5rem] px-4">
    <div class="border-b-[1px] border-white pb-2 flex flex-wrap items-end justify-between">
      <div class="flex items-center">
        <!-- w-[35%] -->
        <img src="assets/img/arrow-right.png" alt="">
        <p class="text-[28px] lexendzetta text-white ml-2">Quienes somos</p>
      </div>
      <div class="w-[65%] space-y-8">
        <h1 class="text-[40px] 2xl:text-[49px] lexendzetta text-white">Creamos experiencias. Generando impacto.
          Para marcas ambiciosas.</h1>
          <!-- w-[90%] -->
        <h4 class="text-[21px] lexendzetta text-white w-[85%]">Colaboramos en compañías ambiciosas para crear experiencias 
          digitales en millones de usuarios de todo el mundo.</h4>
      </div>
    </div>
    <div class="border-b-[1px] border-white flex flex-wrap items-end justify-between h-[600px]">
      <p class="text-[96px] lexendzetta text-white">Proyectos</p>
      <!-- w-[60%] -->
      <div class="flex items-center justify-end pb-1">
        <!-- w-[40%] -->
        <img src="assets/img/arrow-right.png" alt="">
        <p class="text-[36px] lexendzetta text-white ml-2">Ver proyectos</p>
      </div>
    </div>
    <div class="py-[7rem]">
      <div class="w-[32%] h-[500px] bg-[#454C59] flex items-center justify-center">
        <img src="assets/img/phone-right.png" alt="">
      </div>
      <div class="flex flex-wrap w-[32%] items-start py-2 justify-between">
        <div class="w-[85%] space-y-3">
          <p class="text-[34.5px] lexendzetta text-[#626973]">Primax</p>
          <p class="text-[14.5px] lexendzetta text-[#626973] tracking-[0.005em]">Investigación y estrategía - Definición
            de producto - Sistema de diseño - Experiencia de usuario </p>
        </div>
        <img src="assets/img/short-arrow-right.png" alt="">
      </div>
    </div>
  </section>

  <section class="bg-[#5682FF] px-4">
    <div class="flex items-end h-[450px]">
      <div class="border-b-[1px] border-white flex justify-between">
        <p class="text-[28px] lexendzetta text-[#FFFFFF] mt-3">Nuestros <br> clientes</p>
        <h1 class="text-[46px] lexendzetta text-[#FFFFFF] w-[60%] leading-[57px]">Amet minim mollit non deserunt ullamco
          est sit aliqua dolor do </h1>
      </div>
    </div>
    <div class="h-[400px] flex justify-between items-center">
      <img src="assets/img/logo_empresa/niubiz.png" alt="">
      <img src="assets/img/logo_empresa/primax.png" alt="">
      <img src="assets/img/logo_empresa/redeban.png" alt="">
      <img src="assets/img/logo_empresa/ripley.png" alt="">
      <img src="assets/img/logo_empresa/caja-cusco.png" alt="">

    </div>
  </section>

  <section class="bg-[#000000] h-[700px] flex justify-between px-4">
    <div class="inline-block">
      <p class="text-[96px] lexendzetta text-[#FFFFFF]">Blog</p>
    </div>
    <div class="inline-block w-[40%] space-y-24 pt-8">
      <div class="border-l border-white px-4">
        <div class="flex justify-between text-sm text-white">
          <p class="lexendb">01.10.21</p>
          <p class="lexend">Ver más</p>
        </div>
        <h3 class="text-[36px] lexend text-[#FFFFFF] pt-5 pb-3">La democratización del diseño: “Design Systems”</h3>
        <img src="" alt="">
      </div>

      <div class="border-l border-white px-4">
        <div class="flex justify-between text-sm text-white">
          <p class="lexendb">01.10.21</p>
          <p class="lexend">Ver más</p>
        </div>
        <h3 class="text-[36px] lexend text-[#FFFFFF] pt-5 pb-3">La experiencia de usuario en los chatbots</h3>
        <img src="" alt="">
      </div>
    </div>

  </section>
  <!--Seccion Inicio-->
  <!-- <section id="inicio" class="section bg-[#000000] py-2 px-4 h-full flex flex-wrap content-center">
    <div class="w-full mt-10">
      <div class="text-[#D8D8D8] flex flex-wrap content-center">
        <div class="w-full 2xl:mb-14">
          <a class="text-[8rem] 2xl:font-title lexendzetta">{{actualprimero}}</a>
        </div>
        <div class="w-full mt-[-2.7rem] 2xl:mt-[-3rem]">
          <div class="flex justify-center flex-wrap content-center">
            <img alt="vector" class="absolute 2xl:w-[61.424rem] 2xl:h-[21.139rem]" src="assets/img/rectangulo.svg">
          </div>
          <div class="flex justify-center flex-wrap content-center">
            <img alt="Celular" class="lg:w-[36.438rem] 2xl:w-[38.438rem] absolute 2xl:h-[21.563rem] lg:h-[19.563rem]" src="assets/img/laptop.png">
          </div>
        </div>
        <div class="w-full flex justify-end mt-[14rem] 2xl:mt-[16rem]">
          <a class="text-[8rem] 2xl:font-title lexendzetta">{{actualsegundo}}</a>
        </div>

        <div>
          <img (click)="scrollFn('casos')" alt="icon-arrow-down" class="float cursor-pointer" src="assets/img/icon-arrow-down.svg">
        </div>
      </div>
    </div>
  </section> -->

  <!--Seccion Casos destacados-->
  <!-- <section id="casos" class="section bg-[#ffff] py-2 px-4 h-full flex flex-wrap content-center"> -->

  <!--Paso1-->
  <!-- <div class="w-full">
      <div class="flex px-14 w-full justify-between Lexend">
        <div class="flex flex-wrap content-center">
          <h3 style="font-size: 1.563rem !important;font-family: 'Lexend', sans-serif;">Casos destacados</h3>
        </div>
        <div>
          <div class="bg-[#5682FF] flex flex-wrap content-center cursor-pointer justify-center rounded-full w-[9.125rem] h-[9.125rem]">
            <span class="Lexend text-white" style="text-align: center">Ver más</span>
          </div>
        </div>
      </div>
      <div class="mt-10">
        <drag-scroll style="width: auto!important; height: auto!important;">
          <div class="flex justify-between space-x-10 h-auto w-full" style="white-space: break-spaces!important;">
            <div *ngFor="let empresa of dataEmpresa" class="cursor-pointer">
              <div class="w-[11rem]">
                <div>
                  <h3 class="lexendb text-[#626973] text-[0.875rem]">{{empresa.name}}</h3>
                </div>
                <div class="mt-10">
                  <span class="lexend text-[#454C59] text-[1rem]">{{empresa.description}}</span>
                  <img alt="empresas" class="mt-10" src="{{empresa.image}}">
                </div>
              </div>
            </div>
          </div>
        </drag-scroll>
      </div>
    </div>
  </section> -->

  <!--Seccion Agencia-->
  <!-- <section class="section bg-[#F2F2F2] py-28 px-4 flex flex-wrap content-center">
    <div class="w-full">
      <div class="flex px-[6rem] w-full justify-between Lexend">
        <div class="flex lexend flex-wrap content-center">
          <h3 style="font-size: 1.563rem !important;font-family: 'Lexend', sans-serif;">Agencia</h3>
          <p class="mt-6 text-[2.25rem] lexend leading-10 text-[#454C59]">Desarrollamos proyectos orientados a maximizar los objetivos de negocio y que se centran en las necesidades de los usuarios. Sólo así, podemos diseñar productos y servicios digitales capaces de generar experiencias memorables para los usuarios y rentables para nuestros clientes.</p>
        </div>
      </div>
    </div>
  </section> -->

  <!--Seccion Filosofia-->
  <!-- <section class="section bg-[#ffff] py-28 px-4 flex flex-wrap content-center">
    <div class="w-full flex justify-between">
      <div class="flex px-[6rem] w-full justify-between Lexend">
        <h3 style="font-size: 1.563rem !important;font-family: Lexend;">Filosofia</h3>
      </div>
      <div class="px-[13rem]">
        <div>
          <p class="text-[#454C59] lexend text-[1rem]" style="letter-spacing: 0.005em;">Clients worldwide entrust Locomotive with the design, development and management of their websites, as well as art direction, brand identity, graphic design, content creation and other brand and digital services.</p>
        </div>
        <div class="mt-16">
          <p class="text-[#454C59] lexend text-[1.563rem]" style="line-height: 31px;">Our philosophy is built on people who love creating, learning and growing together, a small studio of just 25 people who form a team with ties that transcend the workplace.</p>
        </div>
      </div>
    </div>
  </section> -->

  <!--Seccion Servicios-->
  <!-- <section class="section h-auto bg-[#141C26] py-20 px-4  flex flex-wrap content-center">
    <div class="w-full my-4">
      <div class="px-[6rem] w-full Lexend text-white">
        <div>
          <h3 style="font-size: 1.563rem !important; font-family: Lexend;" >Servicios</h3>
        </div>

        <div class="space-y-28 mt-10">
          <div class="border-l-2 pl-10" *ngFor="let service of dataService">
            <div class="w-[62.063rem]">
              <span class="text-[3.063rem] lexendzetta" style="line-height: 61px;">{{service.title}}</span>
            </div>
            <div class="mb-4 mt-2 2xl:mt-4 w-[23.563rem]">
              <span class="text-[1rem] lexend" style="letter-spacing: 0.005em;line-height: 17px;">{{service.description}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!--Seccion Blogweek-->
  <!-- <section class="section bg-[#000000] py-2 px-4 h-full flex flex-wrap content-center">
    <div class="w-full">
      <div class="px-[15rem] flex justify-between space-x-32 w-full Lexend text-white">
        <div>
          <h3 style="font-size: 1.563rem !important;font-family: Lexend;">Blogweek</h3>
        </div>
        <div class="space-y-10">
          <div class="w-[33.75rem] border-l-2 pl-10">
            <div class="flex lexend justify-between">
              <span>01.10.21</span>
              <span>Ver más</span>
            </div>

            <div>
              <h2 style="font-size: 35px;line-height: 44px; font-family: Lexend">La experiencia de usuario
                en los chatbots</h2>
            </div>
            <mat-icon>call_made</mat-icon>
          </div>

          <div class="w-[33.75rem] border-l-2 pl-10">
            <div class="flex lexend justify-between">
              <span>01.10.21</span>
              <span>Ver más</span>
            </div>

            <div>
              <h2 style="font-size: 35px;line-height: 44px; font-family: Lexend">La democratización del diseño: “Design Systems”</h2>
            </div>
            <mat-icon>call_made</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!--Seccion Start project-->
  <footer class="section py-2 px-4 flex flex-col content-center justify-center h-full"
    style="background: linear-gradient(to top, #193EFF 0%, #8B99E4 100%); min-height: 800px;">
    <div class="pt-40" *ngIf="paso1">
      <h1 class="text-center text-[49px] lexendzetta text-[#FFFFFF] w-[70%] mx-auto leading-[61px]">Iniciemos un
        proyecto</h1>
      <div>
        <div class="flex justify-center space-x-4 mt-20">
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Diseño de una web</span>
          </div>
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Un sistema completo</span>
          </div>
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Sistema de diseño</span>
          </div>
        </div>
        <div class="flex justify-center mt-4 space-x-4">
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Branding</span>
          </div>
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Proyecto Start-Up</span>
          </div>
        </div>
      </div>
      <p class="text-center lexend text-sm text-white pt-12">También puedes escribirnos directamente a</p>
      <p class="text-center lexendb text-sm text-white">hola@esedor.com</p>

    </div>


    <!--Paso1-->
    <!-- <div class="w-full mt-10" *ngIf="paso1">
      <div class="flex justify-center">
        <div class="text-white w-[36rem]">
          <p style="letter-spacing: 0.0015rem;" class="text-center text-[0.875rem] lexendb mb-10">Iniciemos un proyecto
          </p>
          <h2 style="font-size: 35px;line-height: 44px;font-family: Lexend; text-align: center">Conversemos, selecciona
            una de las opciones y te tomemos un café</h2>
        </div>
      </div>

      <div>
        <div class="flex justify-center space-x-4 mt-20">
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Diseño de una web</span>
          </div>
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Un sistema completo</span>
          </div>
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Sistema de diseño</span>
          </div>
        </div>
        <div class="flex justify-center mt-4 space-x-4">
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Branding</span>
          </div>
          <div (click)="paso1 = false; paso2 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">Proyecto Start-Up</span>
          </div>
        </div>
      </div>

      <div class="Lexend text-white text-center mt-10">
        <p class="text-[1.3rem]">Tambien puedes escribirnos directamente a</p>
        <p>hola@esedor.com</p>
      </div>
    </div> -->

    <!--Paso2-->
    <div class="w-full" *ngIf="paso2">
      <div class="flex justify-center">
        <div class="text-white w-[36rem]">
          <p style="letter-spacing: 0.0015em;" class="text-center">Iniciemos un proyecto</p>
          <h2 style="font-size: 35px;line-height: 44px;font-family: Lexend; text-align: center">Conversemos, selecciona
            una de las opciones y te tomemos un café</h2>
        </div>
      </div>
      <div>
        <div class="flex justify-center space-x-4 mt-20">
          <div (click)="paso2 = false; paso3 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">US$ 2,500 - 10,000</span>
          </div>
          <div (click)="paso2 = false; paso3 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">US$ 10,000 - 30,000</span>
          </div>
          <div (click)="paso2 = false; paso3 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">US$ 30,000 -50,000</span>
          </div>
        </div>

        <div class="flex justify-center mt-4 space-x-4">
          <div (click)="paso2 = false; paso3 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">US$ 50,000 -75,000</span>
          </div>
          <div (click)="paso2 = false; paso3 = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] lexend">US$ 75,000 +</span>
          </div>
        </div>
      </div>
      <div class="Lexend text-white text-center mt-10">
        <p class="text-[1.3rem] lexend">Tambien puedes escribirnos directamente a</p>
        <p class="lexend">hola@esedor.com</p>
      </div>
    </div>

    <!--Paso3-->
    <div class="w-full" *ngIf="paso3">
      <div class="flex justify-center">
        <div class="text-white w-[36rem]">
          <p style="letter-spacing: 0.0015em;" class="text-center">Iniciemos un proyecto</p>
          <h2 style="font-size: 35px;line-height: 44px;font-family: 'Lexend', sans-serif; text-align: center">Por donde
            esuchaste sobre Esedor</h2>
        </div>
      </div>
      <div>
        <div class="flex justify-center space-x-4 mt-20">
          <div (click)="paso3 = false; formulario = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] Lexend">Awwwards</span>
          </div>
          <div (click)="paso3 = false; formulario = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] Lexend">CCL</span>
          </div>
          <div (click)="paso3 = false; formulario = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] Lexend">ADEX</span>
          </div>
        </div>

        <div class="flex justify-center mt-4 space-x-4">
          <div (click)="paso3 = false; formulario = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] Lexend">Blog</span>
          </div>
          <div (click)="paso3 = false; formulario = true" style="border-radius: 12px;"
            class="bg-white cursor-pointer w-[17.5rem] flex flex-wrap content-center justify-center h-[5.188rem]">
            <span class="text[#626973] Lexend">Eventos</span>
          </div>
        </div>
      </div>

      <div class="Lexend text-white text-center mt-10">
        <p class="text-[1.3rem]">Tambien puedes escribirnos directamente a</p>
        <p>hola@esedor.com</p>
      </div>
    </div>

    <!--Formulario-->
    <div class="w-full" *ngIf="formulario">
      <div class="flex justify-center">
        <div class="text-white w-[36rem]">
          <p style="letter-spacing: 0.0015em;" class="text-center">Iniciemos un proyecto</p>
          <h2 style="font-size: 35px;line-height: 44px;font-family: 'Lexend', sans-serif; text-align: center">Por donde
            esuchaste sobre Esedor</h2>
        </div>
      </div>
      <div class="flex justify-center">
        <div class="">

          <div class="flex justify-between space-x-4">
            <mat-form-field appearance="outline" class="w-[20rem]">
              <mat-label class="text-white"> Nombres </mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-[20rem]">
              <mat-label class="text-white"> Apellidos </mat-label>
              <input matInput>
            </mat-form-field>
          </div>

          <div class="flex justify-between">
            <mat-form-field appearance="outline" class="w-[20rem]">
              <mat-label class="text-white"> Dirección de correo electrónico </mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-[20rem]">
              <mat-label class="text-white"> Número de teléfono o celular </mat-label>
              <input matInput>
            </mat-form-field>
          </div>

          <div class="flex justify-between">
            <mat-form-field appearance="outline" class="w-[20rem]">
              <mat-label class="text-white"> Empresa y cargo </mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-[20rem]">
              <mat-label class="text-white"> Tiempo de entrega </mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="col-start-1 col-end-2 w-full">
            <mat-form-field appearance="outline" class="w-full">
              <mat-label class="text-white"> Describe tu proyecto aquí... </mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="Lexend text-white text-center mt-10">
        <p class="text-[1.3rem]">Tambien puedes escribirnos directamente a</p>
        <p>hola@esedor.com</p>
      </div>
    </div>

    <div class="flex justify-between">
      <div class="text-white lexend text-[13px]">
        <p>Ubicación</p>
        <p class="leading-[16px] pt-4 pb-8">
          Swiss Tower <br>
          Av. Alfredo Benavides <br>
          #1944 – Piso 9 <br>
          Miraflores, Lima
        </p>
        <p>Esedor © 2022</p>
      </div>
      <div class="text-[13px] lexend font-medium text-white space-y-2 pb-2 flex flex-col justify-end">
        <p>LINKEDIN</p>
        <p>FACEBOOK</p>
        <p>INSTAGRAM</p>
        <p>YOUTUBE</p>
      </div>
    </div>

  </footer>
</div>
