<app-toolbar [colorWhite]="colorWhite"></app-toolbar>
<app-first-section [date]="date" [industry]="industry" [client]="client" [image]="image" [styles]="styles"
  [display]="display" [paragraphOne]="paragraphOne" [paragraphTwo]="paragraphTwo" [serviceList]="serviceList"
  [definitionsList]="definitionsList" [animatedTitle]="animatedTitle"></app-first-section>



<section class="h-[110%] lg:mt-80 ">

  <div class="w-full h-screen bg-no-repeat bg-cover bg-fixed h-[110%]"
    style="background-image: url(assets/img/parallax-notifai.png);">

  </div>
</section>


<app-second-section [firstText]="firstText" [secondText]="secondText" [thirdText]="thirdText"
  [displayContent]="displayContent" [imageSection]="imageSection">
</app-second-section>

<section>

  <div
    class="lexendb px-4 text-[48px] lg:text-[110px] leading-[60px] 2xl:text-[128px] lg:leading-[140px] 2xl:leading-[160px] lg:w-[650px] 2xl:w-[49%] ml-auto mt-20">
    <h2 data-aos="fade-up" data-aos-duration="1000">Arquetipos</h2>
    <h2 data-aos="fade-up" data-aos-duration="1000"> de usuario</h2>


    <div>
      <h3 data-aos="fade-up" data-aos-duration="3000"
        class="lexend text-[21px] lg:text-[36px] leading-[30px] lg:leading-[53px] 2xl:pr-[9rem] lg:w-[650px] 2xl:w-[85%] mt-8 lg:mt-16">
        PRIMARY nace por la necesidad de definir una metología de trabajo entre el equipo de diseño
        y desarrollo de Primax.</h3>
    </div>

  </div>

  <div  class="lg:hidden mt-20 h-full flex justify-center flex-wrap content-center">
    <img data-aos="fade-up" data-aos-duration="1000" src="assets/img/arquetipo-notifai.png" alt="">
    <img data-aos="fade-up" data-aos-duration="1000" class="mt-10" src="assets/img/arquetipo2-notifai.png" alt="">
    <img data-aos="fade-up" data-aos-duration="1000" class="mt-10" src="assets/img/arquetipo3-notifai.png" alt="">
  </div>

  <div class="hidden mt-[5rem] lg:mt-[6rem] h-full lg:flex justify-center flex-wrap content-center">

    <img data-aos="fade-up" data-aos-duration="1000" class="w-[80%]" src="assets/img/arquetipo-usuario.png" alt="">

  </div>


  <div class="mt-[-28rem] lg:mt-[6rem] flex justify-center flex-wrap content-center ">
    <div data-aos="fade-up" data-aos-duration="1000" class="relative lexendzetta text-[28px] lg:text-[35px] 2xl:text-[46px] ml-[5rem] mt-[40rem] ">
      <!----><!----><!--RESPONSIVE--><!----><!---->
      <h1 class="mb-8 ml-[-4rem] text-[38px] lexendzetta lg:hidden">Flujograma <br> de usuario</h1>
      <!----><!----><!----><!----><!----><!----><!---->

      <h1 class=" hidden lg:block absolute top-[4rem]">Flujograma <br> de usuario</h1>

      <img class="ml-[-4rem] w-[1236px] h-[598px] lg:w-[1325px] lg:h-[1200px] xl:w-[1500px]  2xl:w-[1925px] 2xl:h-[1389px] " src="assets/img/mapa-extenso.png" alt="">

    </div>
  </div>
</section>

<section class="relative h-[100%] py-0  ">

  <div class="w-full bg-no-repeat bg-position bg-cover bg-fixed h-[140%]"
    style="background-image: url(assets/img/parallax2-notifai.png);">

  </div>
</section>

<section class="mt-[90%] lg:mt-[60%] xl:mt-[50%]">


  <h5 data-aos="fade-up" data-aos-duration="1000"
    class="lexendzetta text-[30px] lg:text-[65px] xl:text-[75px] 2xl:text-[86px] h-full flex justify-center flex-wrap content-center">
    Diseño UI</h5>

  <div data-aos="fade-up" data-aos-duration="2000" class=" h-full flex justify-center flex-wrap content-center ">
    <img class="w-[350px]  lg:w-[900px] 2xl:w-[1253px] mt-10 lg:mt-40" src="assets/img/campaña.png" alt="">
  </div>

  <div data-aos="fade-up" data-aos-duration="1000" class=" ml-4 lg:ml-10 lg:mt-[30%] mt-40 h-full flex justify-center flex-wrap content-center">
    <img class="w-[351px]  lg:w-[90%] xl:w-[95%] 2xl:w-[100%]" src="assets/img/grupo-camapaña.png" alt="">

  </div>

  <div data-aos="fade-up" data-aos-duration="1000" class="mt-[10rem] lg:mt-[30rem] h-full flex justify-center flex-wrap content-center">
    <img class="" src="assets/img/campañas-3.png" alt="">

  </div>

</section>


<section class="h-[150%] bg-[#FFD4D4] flex flex-wrap content-center justify-center mt-[35%]">
  <img data-aos="flip-left" data-aos-duration="1000" alt="laptop" src="assets/img/laptop-estadis.png">
</section>
