<app-toolbar [colorWhite]="colorWhite"></app-toolbar>


<section class="bg-image h-[310px] lg:h-[760px] text-white flex justify-center items-center py-8 2xl:py-[4rem]">
  <h1 class="text-[36px] lg:text-[140px] xl:text-[180px] lexendzettaextrali leading-[125px]">Contacto</h1>
</section>

<section class="px-4 pt-[3rem] lg:pt-[2rem] pb-[8rem] lg:pb-[10rem]">


  <div class="flex flex-wrap content-center justify-center grid grid-cols-1 lg:grid-cols-4 space-y-[3rem] lg:space-y-0">
    <h1
      class="mt-[24%] text-[28px] lg:text-[36px] xl:text-[46px] leading-[35px] lg:leading-[57.5px] pb-8 lg:pb-[5rem] 2x:pb-[6rem] col-span-2">
      ¿Deseas estimar un proyecto?</h1>
    <img class="ml-[80%]" src="assets/img/img-contacto1.png" alt="">

  </div>


  <div
    class="border-t border-black ml-[22%] grid grid-cols-1 lg:grid-cols-7 lg:px-[4rem] xl:pl-[6rem] xl:pr-[4rem] 2xl:pl-0 2xl:pr-[8rem] pt-[3rem] lg:pt-[7rem] mx-auto items-center">
    <div
      class=" mt-[-12%] 2xl:col-start-4 col-span-5 2xl:col-span-4 space-y-[3rem] pt-6 lg:pt-0 lg:pl-[3rem] xl:pl-[6rem] 2xl:pl-0">
      <h3 class="lexendli text-[18px] lg:text-[21px] col-span-1 pb-[1rem]">Permítenos ayudarte a cumplirlo con nuestras
        habilidades y servicios especializados. En Esedor los acompañaremos en todas las etapas del servicio.</h3>
      <button class="btn-1 lexendli text-[21px] flex items-center">
        <img class="pr-5" src="assets/img/arrow-black.png" alt="">
        Ver proyecto
      </button>
    </div>
  </div>

  <div
    class="border-t border-black mt-10 ml-[22%] lg:px-[4rem] xl:pl-[6rem] xl:pr-[4rem] 2xl:pl-0 2xl:pr-[8rem] pt-[3rem] lg:pt-[7rem] mx-auto items-center">
    <div
      class=" mt-[-13%] 2xl:col-start-4 col-span-5 2xl:col-span-4 space-y-[3rem] pt-6 lg:pt-0 lg:pl-[3rem] xl:pl-[6rem] 2xl:pl-0">
      <h3 class="lexendli text-[18px] lg:text-[36px] col-span-1 pb-[1rem]">Contactanos</h3>


      <div class="flex text-left">
        <div>
          <h3 class="text-[16px]">Correo</h3>
          <div class="mt-[17px]">
            <a class="border-b border-black text-[32px]" href="">Hola@esedor.com</a>
          </div>
        </div>

        <div class="ml-40">
          <h3 class="text-[16px]">Telefono</h3>
          <div class="mt-[17px]">
            <a class="border-b border-black text-[32px]" href="">(+01) 773 8905</a>
          </div>
        </div>
      </div>

      <div class="flex text-left ">
        <div class="mt-[20px] w-full">
          <h3 class="text-[16px]">Siguenos</h3>
          <div class="mt-[17px] flex text-left ">
            <a href=""><img src="assets/img/LinkedIn-gris.png" alt=""></a>
            <a class="px-[40px]" href="ml-[20px]"> <img src="assets/img/Facebook-gris.png" alt=""></a>
            <a href=""><img src="assets/img/Instagram-gris.png" alt=""></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="lg:h-full lg:flex justify-between">
  <div class="lg:w-[50%] h-screen lg:h-auto bg-black flex flex-wrap ">
    <div class="[20%]">
      <h3 class="text-white mt-10 px-4">ubicanos</h3>
    </div>
    <div class="text-white ml-[-2rem] flex flex-wrap mt-48 h-[25%]">
      <a href="" class="lexendzetta text-[25px] leading-[55px] ">Lima <br>
        Swiss Tower <br>
        Av. Alfredo Benavides 1944 <br>
        Piso 09 <br>
        Miraflores <br>
        <img class="w-[41.01px] h-[38.23px] mt-4" src="assets/img/arrow-footer.png" alt=""> </a>
    </div>
  </div>

  <div class="lg:w-[50%] h-screen lg:h-auto  flex flex-wrap bg-mitad">

  </div>
</section>
<div>
    <section class="bg-image h-[310px] lg:h-[760px] text-white flex justify-center items-center py-8 2xl:py-[4rem]">
        <h1 data-aos="fade-down" data-aos-duration="2500"
            class="text-[36px] lg:text-[140px] xl:text-[180px] lexendzettaextrali leading-[125px]">Contacto</h1>
    </section>

    <section class="px-4 pt-[3rem] lg:pt-[5rem] pb-[8rem] lg:pb-[10rem]">
        <div class="grid grid-cols-1 lg:grid-cols-4 space-y-[3rem] lg:space-y-0">
            <h5>¿Deseas estimar un proyecto?</h5>
        </div>

    </section>
</div>
