<app-toolbar [colorWhite]="colorWhite"></app-toolbar>
<div>
    <section class="bg-image h-[310px] lg:h-[760px] text-white flex justify-center items-center py-8 2xl:py-[4rem]">
        <h1 data-aos="fade-down" data-aos-duration="2500"
            class="text-[36px] lg:text-[140px] xl:text-[180px] lexendzettaextrali leading-[125px]">Contacto</h1>
    </section>

    <section class="px-4 pt-[3rem] lg:pt-[5rem] pb-[8rem] lg:pb-[10rem]">
        <div class="grid grid-cols-1 lg:grid-cols-4 space-y-[3rem] lg:space-y-0">
            <h5>¿Deseas estimar un proyecto?</h5>
        </div>

    </section>
</div>
