@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font*/

@font-face {
  font-family: LexendZetta;
  src: url("assets/font/LexendZetta.ttf");
}

@font-face {
  font-family: Lexend;
  src: url("assets/font/Lexend.ttf");
}

@font-face {
  font-family: LexendBold;
  src: url("assets/font/Lexend-Bold.ttf");
}

.lexend {
  font-family: Lexend;
}

.lexendb {
  font-family: LexendBold;
}

.lexendzetta {
  font-family: LexendZetta;
}


html, body { height: 100%; }
body { margin: 0;
  font-family: Lexend; }

