<app-toolbar [colorWhite]="colorWhite"></app-toolbar>
<section class="bg-image h-[310px] lg:h-[760px] text-white flex justify-center items-center py-8 2xl:py-[4rem]">
  <h1 class="text-[36px] lg:text-[130px] xl:text-[160px] 2xl:text-[180px] lexendzettaextrali leading-[125px]">Proyectos</h1>
</section>

<mat-drawer-container class="w-full mt-12 min-h-full px-4 lg:px-24 bg-white">
  <mat-drawer mode="side" class="lg:w-[250px] flex justify-end hidden lg:block" opened>
    <div class="border-l border-black">
      <mat-list role="list" class="mt-20 ml-6 lexend text-[0.875rem] sidebar">
        <mat-list-item *ngFor="let list of listGroup" class="cursor-pointer" role="listitem" (click)="filterEmpresas(list.types); list.state = true" [ngClass]="{ 'item-focus' : list.state }">
          <mat-icon>arrow_right</mat-icon>
          {{list.name}}</mat-list-item>
      </mat-list>
    </div>
  </mat-drawer>
  <mat-drawer-content class="flex bg-white justify-center flex-wrap content-center">
    <div class="overflow-hidden lg:pt-[6rem]">
      <p style="line-height: 17px; letter-spacing: 0.0015em" class="text-sm lexendb pb-5">Proyectos
        recientes</p>
      <h3 class="lexend text-[14.5px] lg:text-[2.188rem] leading-[18.13px] lg:leading-[53.3px]">
        Every project is a chance to try something new. Look at something with a fresh
        perspective. Do something for the first time.
      </h3>
      <!-- <mat-tab-group>  [ngClass]="{ 'selected'}"
        <mat-tab label="First"> Content 1 </mat-tab>
        <mat-tab label="Second"> Content 2 </mat-tab>
        <mat-tab label="Third"> Content 3 </mat-tab>
      </mat-tab-group> -->
      <div class="my-[2rem] flex overflow-x-auto border-b border-black space-x-4 btn-list lg:hidden">
        <button (click)="filterEmpresas('todos')">Todos</button>
        <button (click)="filterEmpresas('banca')">Banca</button>
        <button (click)="filterEmpresas('educación')">Educación</button>
        <button (click)="filterEmpresas('salud')">Salud</button>
        <button (click)="filterEmpresas('automotriz')">Automotriz</button>
        <button (click)="filterEmpresas('ecomerce')">Ecommerce</button>
      </div>

      <section class="grid lg:grid-cols-2 gap-10 my-[3rem] lg:my-16">
        <div *ngFor="let emp of filtrado">
          <div data-aos="fade-down-left" class="cursor-pointer relative h-[650px]" (click)="redirectInternas(emp.ruta)"
            (mouseover)="emp.state = false" (mouseout)="emp.state = true">
            <!-- (mouseout)=""  (mouseover)="probando(emp)"  -->
            <div
              class="h-[480px] flex items-center justify-center bg-[#454C59] transition-all duration-700 ease-in-out" [ngClass]="{'bg-color':!emp.state}">
              <!-- [ngClass]="{ '{{emp.background}}' : emp.state }" -->
              <div class="h-[455px] absolute top-[10px] flex justify-center items-center">
                <img class="translate-x-0 transition duration-700 ease-in-out" src="{{emp.img}}" alt=""
                  [ngClass]="{ 'img-project' : !emp.state}" style="max-width: 350px;">
              </div>
            </div>
            <div class="flex flex-wrap items-start p-2 justify-between absolute top-[30rem] w-full">
              <div class="w-[85%] space-y-3 text-black transition-all duration-700 ease-in-out"
                [ngClass]="{ 'text-color' : !emp.state }">
                <p class="text-[24px] lg:text-[30.5px] xl:text-[34.5px] lexendzetta">{{emp.name}}</p>
                <p class="text-[9.5px] lg:text-[13.5px] xl:text-[14.5px] lexendzetta tracking-[0.005em]">
                  {{emp.descripcion}}</p>
              </div>
              <img class="translate-x-0 transition duration-700 ease-in-out" src="assets/img/short-arrow-right.png"
                alt="" [ngClass]="{ 'arrow-rotate' : !emp.state }">
            </div>
          </div>
        </div>
      </section>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<div id="project" class="h-full bg-[#5682FF] flex justify-center flex-wrap content-center">
  <div class="w-full">
    <div class="text-white text-center">
      <span style="letter-spacing: 0.0015em; line-height: 17px;"
        class="text-[0.875rem] text-center Lexend-Bold">Iniciemos un proyecto</span>
    </div>

    <div class="flex justify-center text-center text-white">
      <h2 *ngIf="starproject_1 || starproject_2" style="line-height: 44px;" class="text-[2.188rem] w-[604px] lexend">
        Conversemos, selecciona una de las opciones y te tomemos un café</h2>
      <h2 *ngIf="starproject_3 || starproject_4" style="line-height: 44px;" class="text-[2.188rem] w-[604px] lexend">Por
        donde esuchaste sobre Esedor</h2>
    </div>

    <div *ngIf="starproject_1" class="space-y-6 mt-28">
      <div class="flex justify-center space-x-4">
        <button (click)="starproject_1=false; starproject_2=true" mat-button style="border-radius: 12px;"
          class="bg-white w-[17.5rem] h-[5.188rem]">Diseño de una web</button>
        <button (click)="starproject_1=false; starproject_2=true" mat-button style="border-radius: 12px;"
          class="bg-white w-[17.5rem] h-[5.188rem]">Un sistema completo</button>
        <button (click)="starproject_1=false; starproject_2=true" mat-button style="border-radius: 12px;"
          class="bg-white w-[17.5rem] h-[5.188rem]">Sistema de diseño</button>
      </div>
      <div class="flex justify-center space-x-4">
        <button (click)="starproject_1=false; starproject_2=true" mat-button style="border-radius: 12px;"
          class="bg-white w-[17.5rem] h-[5.188rem]">Branding</button>
        <button (click)="starproject_1=false; starproject_2=true" mat-button style="border-radius: 12px;"
          class="bg-white w-[17.5rem] h-[5.188rem]">Proyecto Start-Up</button>
      </div>
    </div>

    <div *ngIf="starproject_2" class="space-y-6 mt-28">
      <div class="flex justify-center space-x-4">
        <button (click)="starproject_2=false; starproject_3=true" mat-button style="border-radius: 12px;"
          class="bg-white w-[17.5rem] h-[5.188rem]">US$ 2,500 - 10,000</button>
        <button (click)="starproject_2=false; starproject_3=true" mat-button style="border-radius: 12px;"
          class="bg-white w-[17.5rem] h-[5.188rem]">US$ 10,000 - 30,000</button>
        <button (click)="starproject_2=false; starproject_3=true" mat-button style="border-radius: 12px;"
          class="bg-white w-[17.5rem] h-[5.188rem]">US$ 30,000 -50,000</button>
      </div>
      <div class="flex justify-center space-x-4">
        <button (click)="starproject_2=false; starproject_3=true" mat-button style="border-radius: 12px;"
          class="bg-white w-[17.5rem] h-[5.188rem]">US$ 50,000 -75,000</button>
        <button (click)="starproject_2=false; starproject_3=true" mat-button style="border-radius: 12px;"
          class="bg-white w-[17.5rem] h-[5.188rem]">US$ 75,000 +</button>
      </div>
    </div>

    <div *ngIf="starproject_3" class="space-y-6 mt-28">
      <div class="flex justify-center space-x-4">
        <button (click)="starproject_3=false; starproject_4=true" mat-button style="border-radius: 12px;"
          class="bg-white w-[17.5rem] h-[5.188rem]">Awwwards</button>
        <button (click)="starproject_3=false; starproject_4=true" mat-button style="border-radius: 12px;"
          class="bg-white w-[17.5rem] h-[5.188rem]">CCL</button>
        <button (click)="starproject_3=false; starproject_4=true" mat-button style="border-radius: 12px;"
          class="bg-white w-[17.5rem] h-[5.188rem]">ADEX</button>
      </div>
      <div class="flex justify-center space-x-4">
        <button (click)="starproject_3=false; starproject_4=true" mat-button style="border-radius: 12px;"
          class="bg-white w-[17.5rem] h-[5.188rem]">Blog</button>
        <button (click)="starproject_3=false; starproject_4=true" mat-button style="border-radius: 12px;"
          class="bg-white w-[17.5rem] h-[5.188rem]">Eventos</button>
      </div>
    </div>

    <div class="flex justify-center">
      <div>
        <div *ngIf="starproject_4" class="w-[61.25rem] mt-6">

          <div class="flex justify-center space-x-4">
            <mat-form-field appearance="outline" class="w-[30rem]">
              <mat-label class="text-white"> Nombres </mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-[30rem]">
              <mat-label class="text-white"> Apellidos </mat-label>
              <input matInput>
            </mat-form-field>
          </div>

          <div class="flex justify-center space-x-4">
            <mat-form-field appearance="outline" class="w-[30rem]">
              <mat-label class="text-white"> Dirección de correo electrónico </mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-[30rem]">
              <mat-label class="text-white"> Número de teléfono o celular </mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="flex justify-center space-x-4">
            <mat-form-field appearance="outline" class="w-[30rem]">
              <mat-label class="text-white"> Empresa y cargo </mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-[30rem]">
              <mat-label class="text-white"> Tiempo de entrega </mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="w-[61.25rem]">
              <mat-label class="text-white"> Describe tu proyecto aquí... </mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>


    <div class="text-center mt-6 text-white lexend">
      <div>
        <span class="text-[1.313rem]">Tambien puedes escribirnos directamente a</span>
      </div>
      <div>
        <u class="text-[0.875rem] cursor-pointer">hola@esedor.com</u>
      </div>
    </div>
    <!--<app-footer></app-footer>-->
  </div>
</div>